<html layout:decorate="~{admin/page}">
<div layout:fragment="content" class="container-fluid p-5">
    <h3 class="border-bottom pb-2">신고 목록</h3>
    <div class="d-flex justify-content-between align-items-center my-3">
        <div class="form-check text-dark">
            <input class="form-check-input" type="checkbox" id="checkAll">
            <label class="form-check-label" for="checkAll">
                전체 선택
            </label>
        </div>
        <button type="button" class="btn btn-sm 버튼" id="deleteBtn">삭제
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg"
                 viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
            </svg>
        </button>
    </div>
    <table class="table table-hover text-center" style="width:100%; table-layout: fixed;">
        <thead style="background:#5f566d; color:white;">
        <tr>
            <th style="width:5%;">선택</th>
            <th style="width:5%;">번호</th>
            <th>사유</th>
            <th>상세 사유</th>
            <th>신고자</th>
            <th>신고 대상</th>
            <th>신고일</th>
            <th>처리 상태</th>
            <th>탈퇴</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="report, loop : ${paging}">
            <td><input class="check form-check-input" type="checkbox" th:value="${report.id}"></td>
            <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
            <td th:text="${report.reason}"></td>
            <td th:text="${report.detailReason}"></td>
            <td th:text="${report.reportingUser.username}"></td>
            <td th:text="${report.reportedUser.username}"></td>
            <td th:text="${#temporals.format(report.reportDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${report.status}"></td>
            <td>
                <input type="button" class="keep btn btn-sm btn-outline-primary" th:if="${report.status == '처리 대기'}" value="활동 유지" th:data-value="${report.id}">
                <input type="button" class="withdraw btn btn-sm btn-outline-secondary" th:if="${report.status == '처리 대기'}" value="강제 탈퇴" th:data-value="${report.id}">
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'active'" class="page-item">
                <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
        <form th:action="@{/admin/report}" method="get" id="searchForm">
            <input type="hidden" id="page" name="page" th:value="${paging.number}">
        </form>
    </div>
</div>
<script type="text/javascript" layout:fragment="script">
    $(function() {
        $(".page-link").on('click', function() {
            $("#page").val(this.dataset.page);
            $("#searchForm").submit();
        });

        $("#checkAll").on('click', function() {
            $('.check').prop('checked', this.checked);
        });

        $(".keep").on('click', function() {
            if (confirm('계정을 유지하시겠습니까?')) {
                $.ajax({
                    url: '/admin/report/keep',
                    type : 'post',
                    headers : {
                        [csrfHeader] : csrfToken
                    },
                    contentType : 'text/plain',
                    data: JSON.stringify($(this).data('value')),
                    success : function(data) {
                        alert(data);
                        location.reload();
                    },
                    error : function(error) {
                        console.log(error);
                    }
                });
            }
        });

        $(".withdraw").on('click', function() {
            if (confirm('계정을 탈퇴 처리하시겠습니까?')) {
                $.ajax({
                    url: '/admin/report/withdraw',
                    type : 'post',
                    headers : {
                        [csrfHeader] : csrfToken
                    },
                    contentType : 'text/plain',
                    data: JSON.stringify($(this).data('value')),
                    success : function(data) {
                        alert(data);
                        location.reload();
                    },
                    error : function(error) {
                        console.log(error);
                    }
                });
            }
        });

        $("#deleteBtn").on('click', function() {
            var checkedValues = $(".check:checked").map(function() {
                return this.value;
            }).get();

            if (checkedValues.length === 0) {
                alert('선택된 신고 내역이 없습니다.');
                return;
            }

            if (confirm('신고 내역을 삭제하시겠습니까?')) {
                $.ajax({
                    url : '/admin/report/delete',
                    type : 'post',
                    headers : {
                        [csrfHeader] : csrfToken
                    },
                    contentType : 'application/json',
                    data: JSON.stringify(checkedValues),
                    success : function(data) {
                        alert(data);
                        location.reload();
                    },
                    error : function(error) {
                        console.log(error);
                    }
                });
            }
        });
    });
</script>
</html>