<html layout:decorate="~{admin/page}">
<div layout:fragment="content" class="container-fluid p-5">
    <h3 class="border-bottom pb-2">신고 목록</h3>
    <div class="d-flex justify-content-between align-items-center my-3">
        <div class="form-check text-dark">
            <input class="form-check-input" type="checkbox" id="checkAll">
            <label class="form-check-label" for="checkAll">
                전체 선택
            </label>
        </div>
        <div>
            <button type="button" class="btn btn-sm 버튼-full" id="actionBtn">저장</button>
            <button type="button" class="btn btn-sm 버튼" id="deleteBtn">삭제
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg"
                     viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                </svg>
            </button>
        </div>
    </div>
    <table class="table table-hover text-center" style="width:100%; table-layout: fixed;">
        <thead style="background:#5f566d; color:white;">
        <tr>
            <th style="width:5%;">선택</th>
            <th style="width:5%;">번호</th>
            <th>사유</th>
            <th>상세 사유</th>
            <th>신고자</th>
            <th>신고 대상</th>
            <th>신고일</th>
            <th>처리 상태</th>
            <th>조치</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="report, loop : ${paging}">
            <td><input class="check form-check-input" type="checkbox" th:value="${report.id}"></td>
            <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
            <td th:text="${report.reason}"></td>
            <td th:text="${report.detailReason}"></td>
            <td th:text="${report.reportingUser.username}"></td>
            <td th:text="${report.reportedUser.username}"></td>
            <td th:text="${#temporals.format(report.reportDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${report.status}"></td>
            <td th:if="${report.status == '처리 대기'}">
                <select class="form-select actionSelect" aria-label="actionSelect">
                    <option value="" selected>관리 옵션</option>
                    <option value="활동 유지">활동 유지</option>
                    <option value="계정 정지">계정 정지</option>
                    <option value="영구 탈퇴">영구 탈퇴</option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'active'" class="page-item">
                <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
        <form th:action="@{/admin/report}" method="get" id="searchForm">
            <input type="hidden" id="page" name="page" th:value="${paging.number}">
        </form>
    </div>
    <!-- 정지 일수 선택을 위한 모달 -->
    <div class="modal fade" id="suspensionModal" data-bs-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="suspensionModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="suspensionModalLabel">계정 정지 일수 선택</h5>
                </div>
                <div class="modal-body">
                    <input type="number" class="form-control" id="suspensionDays" placeholder="일수를 입력하세요" min="1" value="1">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="saveSuspensionDays">저장</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" layout:fragment="script">
    $(function () {

        $(".page-link").on('click', function () {
            $("#page").val(this.dataset.page);
            $("#searchForm").submit();
        });

        $("#checkAll").on('click', function () {
            $('.check').prop('checked', this.checked);
        });

        $('.actionSelect').change(function () {
            var selectedAction = $(this).val();
            var $checkbox = $(this).closest('tr').find('.check');

            if (selectedAction === "계정 정지") {
                $('#suspensionModal').modal('show');

                $('#saveSuspensionDays').click(function () {
                    var suspensionDays = $('#suspensionDays').val();
                    if (suspensionDays == null || suspensionDays === "")
                        alert("일수 선택은 필수 입력 사항입니다.");
                    else {
                        $checkbox.attr('data-action', selectedAction);
                        $checkbox.attr('data-days', suspensionDays);
                        $('#suspensionModal').modal('hide');
                    }
                });
            } else $checkbox.attr('data-action', selectedAction);
        });

        $('#actionBtn').on('click', function () {
            var dataObject = {};
            var isEmptyAction = false;
            $(".check:checked").each(function () {
                var id = $(this).val();
                var action = $(this).data("action");
                var days = $(this).data("days");
                if (action === "" || action == null) {
                    isEmptyAction = true;
                }
                dataObject[id] = {
                    action: action,
                    days: days
                };
            });

            var jsonData = JSON.stringify(dataObject);
            var keys = Object.keys(dataObject);
            if (keys.length === 0) {
                alert('선택된 신고 내역이 없습니다.');
            } else if (isEmptyAction) {
                alert("조치 옵션을 선택해주세요.");
            } else {
                $.ajax({
                    url: "/admin/report/action",
                    type: "POST",
                    headers: {
                        [csrfHeader]: csrfToken
                    },
                    contentType: "application/json",
                    data: jsonData,
                    success: function (response) {
                        alert(response);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }
        });

        $("#deleteBtn").on('click', function () {
            var checkedValues = $(".check:checked").map(function () {
                return this.value;
            }).get();

            if (checkedValues.length === 0) {
                alert('선택된 신고 내역이 없습니다.');
                return;
            }

            if (confirm('신고 내역을 삭제하시겠습니까?')) {
                $.ajax({
                    url: '/admin/report/delete',
                    type: 'post',
                    headers: {
                        [csrfHeader]: csrfToken
                    },
                    contentType: 'application/json',
                    data: JSON.stringify(checkedValues),
                    success: function (data) {
                        alert(data);
                        location.reload();
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        });
    });
</script>
</html>