<html layout:decorate="~{admin/page}">
<div layout:fragment="content" class="container-fluid p-5">
    <h3 class="border-bottom pb-2">후기 목록</h3>
    <div class="d-flex justify-content-end my-3">
        <div class="input-group" style="width:30%;">
            <input type="text" id="searchKw" class="form-control" th:value="${kw}" placeholder="후기 내용, 작성자 검색">
            <button class="btn 버튼" type="button" id="searchBtn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                     viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </button>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="form-check text-dark">
            <input class="form-check-input" type="checkbox" id="checkAll">
            <label class="form-check-label" for="checkAll">
                전체 선택
            </label>
        </div>
        <button type="button" class="btn btn-sm 버튼" id="deleteBtn">삭제
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg"
                 viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
            </svg>
        </button>
    </div>
    <table class="table table-hover text-center">
        <thead style="background:#5f566d; color:white;">
        <tr>
            <th>선택</th>
            <th>번호</th>
            <th>닉네임</th>
            <th>별점</th>
            <th>등록일</th>
            <th>수정일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="review, loop : ${paging}" th:onclick="'window.location.href=\'' + @{/review/detail/{id}(id=${review.id})} + '\''">
            <td><input class="check form-check-input" type="checkbox" th:value="${review.id}">
            </td>
            <td th:text="${review.id}"></td>
            <td th:text="${review.writer.nickName}"></td>
            <td class="starCount">
                <div class="star-rating me-1">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <input type="hidden" class="reviewStar" th:value="${review.star}">
            </td>
            <td th:text="${#temporals.format(review.createDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${review.modifyDate != null ? #temporals.format(review.modifyDate, 'yyyy-MM-dd') : ''}"></td>
        </tr>
        </tbody>
    </table>
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'active'" class="page-item">
                <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <form th:action="@{/admin/user}" method="get" id="searchForm">
        <input type="hidden" id="page" name="page" th:value="${paging.number}">
        <input type="hidden" id="kw" name="kw" th:value="${kw}">
    </form>
</div>
<script type="text/javascript" layout:fragment="script">
    $(function() {
        $(".page-link").on('click', function() {
            $("#page").val(this.dataset.page);
            $("#searchForm").submit();
        });

        $("#searchBtn").on('click', function() {
            $("#kw").val($("#searchKw").val());
            $("#page").val("0");
            $("#searchForm").submit();
        });

        $("#checkAll").on('click', function() {
            $('.check').prop('checked', this.checked);
        });

        $("#deleteBtn").on('click', function() {
            var checkedValues = $(".check:checked").map(function() {
                return this.value;
            }).get();

            if (checkedValues.length === 0) {
                alert('선택된 후기가 없습니다.');
                return;
            }

            if (confirm('후기를 삭제하시겠습니까?')) {
                $.ajax({
                    url : '/admin/review/delete',
                    type : 'post',
                    headers : {
                        [csrfHeader] : csrfToken
                    },
                    contentType : 'application/json',
                    data: JSON.stringify(checkedValues),
                    success : function(data) {
                        alert(data);
                        location.reload();
                    },
                    error : function(error) {
                        console.log(error);
                    }
                });
            }
        });

        $('.starCount').each(function() {
            var rating = parseFloat($(this).find('.reviewStar').val());
            var stars = $(this).find('.star-rating i');

            stars.removeClass('fas far fa-star-half-alt');

            stars.each(function(index) {
                if (rating >= index + 1) {
                    $(this).addClass('fas fa-star');
                } else if (rating > index) {
                    $(this).addClass('fas fa-star-half-alt');
                } else {
                    $(this).addClass('far fa-star');
                }
            });
        });

        $('.check').click(function(event) {
            event.stopPropagation();
        });
    });
</script>
</html>