<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <h3 class="underline my-3" th:text="|${review.writer.nickName}님의 후기|"></h3>
    <div class="d-flex align-items-center justify-content-center mb-5 mt-4">
        <h5 style="padding:0; margin:0; padding-right:10px; border-right:2px solid #D8D3E0; font-weight:bold;">별점</h5>
        <div class="star-rating ms-3">
            <i class="far fa-star fs-1"></i>
            <i class="far fa-star fs-1"></i>
            <i class="far fa-star fs-1"></i>
            <i class="far fa-star fs-1"></i>
            <i class="far fa-star fs-1"></i>
        </div>
    </div>
    <div class="mb-5">
        <h5>Q1. 좋은 인연을 만나기 위해 AraQ를 선택하신 이유가 무엇인가요?</h5>
        <div class="card mt-3">
            <div class="card-body" th:text="${review.answer1}"></div>
        </div>
    </div>
    <div class="mb-5">
        <h5>Q2. AraQ에서 찾고자 한 이성은 어떤 분이었나요?</h5>
        <div class="card mt-3">
            <div class="card-body" th:text="${review.answer2}"></div>
        </div>
    </div>
    <div class="mb-5">
        <h5>Q3. AraQ를 이용하며 가장 좋았던 점은 무엇인가요?</h5>
        <div class="card mt-3">
            <div class="card-body" th:text="${review.answer3}"></div>
        </div>
    </div>
    <div class="mb-5">
        <h5>Q4. AraQ를 이용하며 아쉬웠던 점은 무엇인가요?</h5>
        <div class="card mt-3">
            <div class="card-body" th:text="${review.answer4}"></div>
        </div>
    </div>
    <div class="mb-5">
        <h5>Q5. 마지막으로 하고 싶은 말을 자유롭게 남겨주세요.</h5>
        <div class="card mt-3">
            <div class="card-body" th:text="${review.answer5}"></div>
        </div>
    </div>
    <input type="hidden" class="reviewStar" th:value="${review.star}">
</div>
<script layout:fragment="script" type="text/javascript">
    $(function() {
        var rating = parseFloat($('.reviewStar').val());
        var stars = $('.star-rating').find('i');

        stars.removeClass('fas far fa-star-half-alt');

        stars.each(function(index) {
            if (rating >= index + 1) {
                $(this).addClass('fas fa-star');
            } else if (rating > index) {
                $(this).addClass('fas fa-star-half-alt');
            } else {
                $(this).addClass('far fa-star');
            }
        });
    });
</script>
</html>