<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <h5 th:text="|${announcement.id}번째 공지사항|"></h5>
    <div class="text-center my-3">
        <div style="border-top:2px solid #d8d3e0; border-bottom:2px solid #d8d3e0; padding:20px;">
            <h3 th:text=" ${announcement.title}"></h3>
            <div class="d-flex justify-content-center mt-2">
                <div style="font-family:'nanum-bold';">관리자</div>
                <span class="mx-4">|</span>
                <div th:text="${#temporals.format(announcement.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                <span class="mx-4">|</span>
                <div th:text="|조회수 : ${announcement.view}|"></div>
            </div>
        </div>
        <div th:text="${announcement.content}"></div>
    </div>
</div>
</html>