spring:
  datasource:
    url: jdbc:mysql://localhost:3306/araq?useUnicode=true&characterEncoding=utf8&autoReconnect=true&serverTimezone=Asia/Seoul
    driverClassName: com.mysql.cj.jdbc.Driver
    username: root
    password:

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update

  mail:
    host: smtp.gmail.com
    port: 587
    username: teriyaki970326
    password: pdtv fdbj vecz mpqm
    properties:
     mail:
       smtp:
         auth: true
         starttls:
           enable: true
#iampport
imp:
  code: "imp65467420"
  api:
    key: "4323773555508561"
    secret: "y46aKg8JTOLBqyKtcM04uAnLPeJ4PfrIEiHIP1vymIVaK91zGwQNJibao4Dw2mOxAlmvCiv37Yq1ueSc"

