<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <div class="my-4">
        <div class="d-flex justify-content-between" style="border-bottom:1px solid black; padding-bottom:5px;">
            <div class="d-flex">
                <div class="me-2"><!--유저 이미지 -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-person-heart" viewBox="0 0 16 16">
                        <path d="M9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4Zm13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276Z"/>
                    </svg>
                </div>
                <div th:text="${post.writer.username}"><!-- 닉네임으로 변경 --></div>
            </div>
            <div th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}"></div>
        </div>
        <div th:text="${post.content}" class="border border-dark p-2 my-2 text-center"></div>
        <h5 class="border-bottom border-secondary pb-1">댓글</h5>
        <div>
            <form th:action="@{|/comment/create/${post.id}|}" method="post" class="input-group" id="regForm">
                <input type="text" id="content" name="content" class="form-control">
                <input type="button" value="등록" class="btn btn-outline-dark" id="regBtn">
            </form>
        </div>
        <div th:each="comment : ${post.commentList}">
            <div th:text="${comment.writer}"></div>
            <div th:text="${comment.content}"></div>
            <div th:text="${comment.createDate}"></div>
        </div>
    </div>
</div>
<script layout:fragment="script">
    $(function () {
        $("#regBtn").on('click', function() {
            if ($("#content").val() == "")
                alert("댓글 내용을 입력해주세요.");
            else {
                alert("댓글이 등록되었습니다.");
                $("#regForm").submit();
            }
        });
    });
</script>
</html>