html {
    min-width: 280px;
}

body, ul, li {
    margin: 0;
    list-style: none;
    padding: 0;
}

@font-face {
    font-family: 'nanum-regular';
    src: url('/font/nanum-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'nanum-light';
    src: url('/font/nanum-light.ttf') format('truetype');
}

@font-face {
    font-family: 'nanum-bold';
    src: url('/font/nanum-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'nanum-semiBold';
    src: url('/font/nanum-semiBold.ttf') format('truetype');
}

html, body {
    font-family: 'nanum-regular', serif;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: rgb(91, 79, 113);
}

.menu {
    position: relative;
    width: 13%;
    background: white;
}

.option {
    margin-bottom: 5px;
    color: dimgray;
    font-size: 13pt;
    font-weight: bold;
    position: relative;
}

.option::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background-color: #d8d3e0;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.option:hover::after {
    transform: scaleX(1);
}

.depth {
    position: absolute;
    width: 100%;
    background: white;
    z-index: 99;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.7s ease-in-out;
}

.depth > li {
    padding: 10px;
    font-size: 11pt;
}

.depth > li:hover {
    background: rgb(231, 227, 236);
}

.menu:hover .depth {
    max-height: 500px;
}

.you {
    position: relative;
    background: rgb(223, 219, 230);
    border-radius: .4em;
    width: 80%;
    margin-right: auto;
    padding: 15px;
}

.you:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: rgb(223, 219, 230);
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}

.me {
    position: relative;
    background: rgb(168, 156, 186);
    border-radius: .4em;
    width: 80%;
    margin-left: auto;
    padding: 15px;
    text-align: end;
}

.me:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 90%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: rgb(168, 156, 186);
    border-bottom: 0;
    border-right: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}

.star-rating .fa-star {
    color: gold;
}

.star-rating .fas {
    color: gold;
}

.reviewCard {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.reviewCard .cardOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
}

.reviewCard .button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: none;
}

.reviewCard:hover .cardOverlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.reviewCard:hover .button {
    display: block;
    z-index: 3;
}


.underline {
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.underline::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: #D8D3E0;
    transition: width 0.5s ease;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
}

.underline:hover::after {
    width: 100%;
}

#scrollButtons button {
    display: block;
}

.chatBox {
    display: flex;
    margin: 10px 0;
}

.chatBox > img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 0 10px;
}

.chatBox .card > p {
    padding: 2px 10px;
    margin: 0;
    white-space: pre-line;
}

.chatBox > div {
    width: 100%;
}

.chatBox .card {
    display: inline-block;
    max-width: 70%;
}

.chatBox > div > p {
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.chatBox .confirm {
    position: absolute;
    z-index: 1;
    top: -5px;
    left: -5px;
    background: rgb(131, 115, 157);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.버튼 {
    border: 1px solid rgb(146, 132, 168);
    color: rgb(146, 132, 168);
    background: white;
}

.버튼:hover {
    border: 1px solid rgb(141, 128, 166);
    color: white;
    background: rgb(141, 128, 166);
}

.버튼-full {
    border: 1px solid rgb(141, 128, 166);
    color: white;
    background: rgb(141, 128, 166);
}

.버튼-full:hover {
    border: 1px solid rgb(96, 83, 119);
    background: rgb(96, 83, 119);
    color: white;
}

.ourColor {
    background: #d8d3e0;
}

#chatBoard .date {
    width: 150px;
    margin: auto;
    text-align: center;
}

#chatImageInput {
    display: none;
}

#imagePreviewForm {
    width: 700px;
    margin: auto;
    display: none;
    text-align: center;
}

#imagePreview > img {
    margin: 0 10px;
}

.kakao {
    background: white;;
}

.kakao:hover {
    background: rgb(255, 235, 0);
}

.kakao.active {
    background: rgb(236, 218, 0);
    border: none;
}

.toss {
    background: white;
}

.toss:hover {
    background: rgb(0, 77, 255);
    color: white;
}

.toss.active {
    background: rgb(0, 58, 196);
    color: white;
}

.phone {
    background: white;
}

.phone:hover {
    background: rgb(57, 50, 144);
    color: white;
}

.phone.active {
    background: rgb(45, 39, 112);
    color: white;
}

.bubble {
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

.bubble:hover {
    background: rgba(219, 214, 226, 0.6);
}

.뱃지 {
    border: 1px solid rgb(103, 88, 126);
    font-family: 'nanum-semiBold';
    color: rgb(103, 88, 126);
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}

.underline-start {
    display: inline-block;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.underline-start::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #d8d3e0;
    transition: width .3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.underline-start:hover::after {
    width: 100%;
}

.highlight {
    display: inline-block;
    position: relative;
    color: #000;
    cursor: pointer;
    overflow: hidden;
    background: transparent;
    transition: color .3s;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

.highlight::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: url('/image/araQ/crayon.png');
    width: 0%;
    transition: width .3s;
}

.highlight:hover::after {
    width: 100%;
}

.truncate {
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: keep-all;
/ / 문단으로 끊어져서 줄바꿈 됨
}

.roomConfirm {
    background: rgb(131, 115, 157);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.arrow-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

.arrow-line-left {
    height: 4px;
    background-color: rgb(190, 182, 203);
    width: 300px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.arrow-head-left {
    font-size: 20px;
    margin-left: -5px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    color: rgb(190, 182, 203);
}

.arrow-line-right {
    height: 4px;
    background-color: rgb(190, 182, 203);
    width: 300px;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
}

.arrow-head-right {
    font-size: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    margin-right: -5px;
    color: rgb(190, 182, 203);
}

.question {
    transition: transform 0.7s ease;
    color: rgb(190, 182, 203);
}

@keyframes shake {
    0%, 100% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
}

.matchResult:hover .xLine-right,
.matchResult:hover .xLine-left,
.matchResult:hover .arrow-line-left,
.matchResult:hover .arrow-head-left,
.matchResult:hover .arrow-line-right,
.matchResult:hover .arrow-head-right {
    transform: translateX(0);
}

.matchResult:hover .question {
    animation: shake 0.7s ease-in-out;
}

.xLine-left {
    position: relative;
    height: 4px;
    background-color: rgb(190, 182, 203);
    width: 300px;
    margin: 0 auto;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.xLine-left::before,
.xLine-left::after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 4px;
    background-color: rgb(190, 182, 203);
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-out;
}

.xLine-left::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.xLine-left::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.xLine-right {
    position: relative;
    height: 4px;
    background-color: rgb(190, 182, 203);
    width: 300px;
    margin: 0 auto;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
}

.xLine-right::before,
.xLine-right::after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 4px;
    background-color: rgb(190, 182, 203);
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-out;
}

.xLine-right::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.xLine-right::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.record-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    position: relative;
}

.record-button {
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border: none;
    background: white;
}

.progress-ring {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}

.progress-ring__circle {
    stroke: red;
    stroke-width: 4px;
    fill: transparent;
    stroke-dasharray: 289;
    stroke-dashoffset: 289;
}

#audioDuration {
    font-size: small;
    margin-left: 5px;
}

table {
    table-layout: fixed;
    width: 100%;
}

.range-slider {
    position: relative;
}

.range-slider input[type=range] {
    width: 100%;
}

.slider-values {
    text-align: center;
    margin-top: 10px;
}

#plazaBoard {
    height: 80vh;
    position: relative;
}

.avatar > img {
    width: 50px;
    height: 50px;
}

