body, ul, li {
    margin:0;
    list-style:none;
    padding:0;
}

a {
    color:inherit;
    text-decoration:none;
}

.menu {
    position:relative;
    width:13%;
    background:white;
}

.option {
    margin-bottom:5px;
    color:dimgray;
    font-size:14pt;
    font-weight:bold;
}

.depth {
  position:absolute;
  display:none;
  width:100%;
  background:white;
}

.depth > li {
    padding:5px;
}

.menu:hover .depth {
  display:block;
}

.you {
	position: relative;
	background: silver;
	border-radius: .4em;
	width:50%;
	margin:0 auto;
	margin-bottom:30px;
	padding:10px;
}

.you:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 20%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: silver;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.me {
	position: relative;
	background: gainsboro;
	border-radius: .4em;
	width:50%;
	margin:0 auto;
	margin-bottom:30px;
	padding:10px;
	text-align:end;
}

.me:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 80%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: gainsboro;
	border-bottom: 0;
	border-right: 0;
	margin-left: -10px;
    margin-bottom: -20px;
}

.star-rating .fa-star {
    color: gray;
}

.star-rating .fas {
    color: gold;
}

.reviewCard {
    position: relative;
    overflow: hidden;
    transition: filter 0.3s;
}

.reviewCard #deleteBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s;
    display: none;
}

.reviewCard:hover {
    filter: brightness(50%);
}

.reviewCard:hover #deleteBtn {
    display: block;
    transform: translate(-50%, -50%) scale(1);
}

.underline {
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.underline::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: #D8D3E0;
    transition: width 0.5s ease;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
}

.underline:hover::after {
    width: 100%;
}




