body, ul, li {
    margin:0;
    list-style:none;
    padding:0;
}

a {
    color:inherit;
    text-decoration:none;
}

.menu {
    position:relative;
    width:13%;
    background:white;
}

.option {
    margin-bottom:5px;
    color:dimgray;
    font-size:14pt;
    font-weight:bold;
}

.depth {
  position:absolute;
  display:none;
  width:100%;
  background:white;
}

.depth > li {
    padding:5px;
}

.menu:hover .depth {
  display:block;
}

.you {
	position: relative;
	background: silver;
	border-radius: .4em;
	width:50%;
	margin:0 auto;
	margin-bottom:30px;
	padding:10px;
}

.you:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 20%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: silver;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.me {
	position: relative;
	background: gainsboro;
	border-radius: .4em;
	width:50%;
	margin:0 auto;
	margin-bottom:30px;
	padding:10px;
	text-align:end;
}

.me:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 80%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: gainsboro;
	border-bottom: 0;
	border-right: 0;
	margin-left: -10px;
    margin-bottom: -20px;
}

.star-rating .fa-star {
    color: gold;
}

.star-rating .fas {
    color: gold;
}

.reviewCard {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.reviewCard .cardOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
}

.reviewCard .button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display:none;
}

.reviewCard:hover .cardOverlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.reviewCard:hover .button {
    display:block;
    z-index: 3;
}


.underline {
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.underline::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: #D8D3E0;
    transition: width 0.5s ease;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
}

.underline:hover::after {
    width: 100%;
}

#scrollButtons {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#scrollButtons button {
    display: block;
}

.chatBox {
    display:flex;
    align-items:center;
    margin:10px 0;
}

.chatBox > img {
    width:50px;
    height:50px;
    border-radius:10px;
    margin:0 10px;
}

.chatBox .card {
    max-width:70%;
}

.chatBox .card > * {
    padding:0 10px;
    margin:0;
}

.chatBox > div {
}

.chatBox > div > p {
    padding:0;
    margin:0;
    font-weight: bold;
}