<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3 d-flex align-items-center justify-content-center" style="height:80vh;">
    <div>
        <div class="d-flex align-items-center justify-content-center mb-3">
            <img src="https://cdn-icons-png.flaticon.com/128/10468/10468208.png?uid=R128761799&ga=GA1.1.108132096.1702266519&semt=ais" alt="" style="height:80px; width:auto;">
            <h2 class="ms-3">영구 탈퇴되어 해당 사이트에 접근하실 수 없습니다.</h2>
        </div>
        <div class="d-flex justify-content-center">
            <div>
                <h5>관리자에 의해 영구 탈퇴 처리된 회원은 재가입이 불가능합니다.</h5>
                <p th:text="|탈퇴 사유 : ${blacklist.reason}|"></p>
            </div>
        </div>
    </div>
</div>
</html>