<html layout:decorate="~{user/update}">
<div layout:fragment="content" class="container-fluid p-5">
    <h3 class="border-bottom pb-2">비밀번호변경</h3>
    <div>
        <form th:action="@{/user/changePw}" method="post" onsubmit="return checkNewPw()">
            <div class="form-group">
                <label for="newPw">비밀번호</label>
                <input type="password" class="form-control" id="newPw" name="newPw" required>
            </div>
            <div class="form-group">
                <label for="confirmPw">비밀번호 확인</label>
                <input type="password" class="form-control" id="confirmPw" name="confirmPw" required>
            </div>
            <button type="submit" class="btn btn-primary">변경</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type="text/javascript" layout:fragment="script">
        function checkNewPw() {
            var newPw1 = document.getElementById("newPw").value;
            var newPw2 = document.getElementById("confirmPw").value;

            if(newPw1 !== newPw2){
                alert('비밀번호가 일치하지 않습니다.');
                return false;
            }
            return true;
        }
    </script>
</div>
</html>