<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <h3 class="underline">비밀번호변경</h3>
    <div class="my-3">
        <form th:action="@{/user/changePw}" method="post" onsubmit="return checkNewPw()">
            <div class="form-group mb-3">
                <label for="newPw" class="form-label" style="border-bottom:2px solid #d8d3e0;">비밀번호</label>
                <input type="password" class="form-control" id="newPw" name="newPw" required>
            </div>
            <div class="form-group mb-3">
                <label for="confirmPw" class="form-label" style="border-bottom:2px solid #d8d3e0;">비밀번호 확인</label>
                <input type="password" class="form-control" id="confirmPw" name="confirmPw" required>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn 버튼-full">변경</button>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type="text/javascript" layout:fragment="script">
        function checkNewPw() {
            var newPw1 = document.getElementById("newPw").value;
            var newPw2 = document.getElementById("confirmPw").value;

            if(newPw1 !== newPw2){
                alert('비밀번호가 일치하지 않습니다.');
                return false;
            }
            return true;
        }
    </script>
</div>
</html>