<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/araq.css}">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css" rel="stylesheet">
    <title>AraQ</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'NanumSquareNeoBold';
        }

        .text {
            text-align: center;
            position: relative;
            overflow: hidden;
            color: gray;
        }

        .text::before,
        .text::after {
            content: '';
            position: absolute;
            top: 50%;
            width: 40%;
            height: 2px;
            background-color: lightgray;;
        }

        .text::before {
            left: 0;
            margin-right: 10%;
        }

        .text::after {
            right: 0;
            margin-left: 10%;
        }
    </style>
</head>
<body>
<div class="center" style="min-width:600px;">
    <div class="d-flex justify-content-center"><a href="/">
        <img alt="" src="https://velog.velcdn.com/images/dbstjwjd/post/796233b6-7972-45b7-bce0-0e26ff7fd817/image.png"
             style="height:100px; width:auto;">
    </a></div>
    <h3 class="underline-start my-3">로그인</h3>
    <form th:action="@{/user/login}" method="post">
        <div th:if="${param.error}">
            <div class="alert alert-danger" id="loginError">
                사용자ID 또는 비밀번호를 확인해 주세요.
            </div>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">ID</label>
            <input type="text" name="username" id="username" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" name="password" id="password" class="form-control">
        </div>
        <button type="submit" class="btn 버튼-full w-100">로그인</button>
    </form>
    <div class="my-5 text-center">
        <a th:href="@{/user/signup}">회원가입</a>
        <span class="mx-5">|</span>
        <!-- 아이디 모달 -->
        <a type="button" data-bs-toggle="modal" data-bs-target="#findIdModal">
            아이디 찾기
        </a>
        <span class="mx-5">|</span>
        <!-- 비밀번호 모달 -->
        <a type="button" data-bs-toggle="modal" data-bs-target="#findPwModal">
            비밀번호 찾기
        </a>
    </div>
    <div class="text">간편 로그인</div>
    <div class="d-flex justify-content-around align-items-center mt-4">
        <a href="/oauth2/authorization/kakao">
            <img src="https://cdn-icons-png.flaticon.com/128/3669/3669973.png"
                 alt="" style="width:60px; height:60px; border-radius:50%;"></a>
        <a href="/oauth2/authorization/google">
            <img src="https://cdn-icons-png.flaticon.com/512/2991/2991148.png" alt=""
                 style="width:50px; height:50px; border-radius:50%;">
        </a>
        <a href="/oauth2/authorization/github">
            <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt=""
                 style="width:60px; height:60px; border-radius:50%;">
        </a>
    </div>
    <!-- 아이디 찾기 모달 -->
    <div class="modal fade" id="findIdModal" tabindex="-1" aria-labelledby="findIdModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="findIdModalLabel">아이디 찾기</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="name" class="form-label">이름</label>
                        <input type="text" id="name" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">전화 번호</label>
                        <div class="input-group">
                            <input type="text" id="phoneNumber" class="form-control">
                            <input type="button" class="btn 버튼-full" onclick="sendVerKey()" value="인증번호 발송">
                        </div>
                    </div>
                    <div id="verKeySection" class="mb-3" style="display: none;">
                        <label for="authNum" class="form-label">인증 번호</label>
                        <div class="input-group">
                            <input type="text" id="verKey" class="form-control">
                            <input type="button" class="btn 버튼-full" onclick="findId()" value="인증번호 확인">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn 버튼-full" onclick="findId()">확인</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 비밀번호 모달 -->
    <div class="modal fade" id="findPwModal" tabindex="-1" aria-labelledby="findPwModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="findPwModalLabel">비밀번호 찾기</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">찾기 방법</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="findMethod" id="findByEmail"
                                   value="email"
                                   onclick="showSection('emailSection')" checked>
                            <label class="form-check-label" for="findByEmail">이메일로 찾기</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="findMethod" id="findByPhone"
                                   value="phone"
                                   onclick="showSection('phoneSection')">
                            <label class="form-check-label" for="findByPhone">핸드폰 번호 인증으로 찾기</label>
                        </div>
                    </div>
                    <div id="idSection" class="mb-3" style="display: none;">
                        <label for="id" class="form-label">아이디</label>
                        <input type="text" id="id" class="form-control">
                    </div>
                    <div id="emailSection" class="mb-3" style="display: none;">
                        <label for="email" class="form-label">이메일</label>
                        <input type="email" id="email" class="form-control">
                    </div>
                    <!-- 핸드폰 번호 입력 섹션 -->
                    <div id="phoneSection" class="mb-3" style="display: none;">
                        <label for="phoneNum" class="form-label">전화 번호</label>
                        <input type="text" id="phoneNum" class="form-control">
                        <!-- 인증번호 보내기 버튼 추가 -->
                        <button type="button" class="btn 버튼-full mt-2" onclick="sendVerificationCode()">인증번호 보내기
                        </button>
                        <!-- 인증번호 입력 칸 -->
                    </div>
                    <div id="authNumSection" class="mb-3" style="display: none;">
                        <label for="authNum" class="form-label">인증 번호</label>
                        <input type="text" id="authNum" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <!-- 확인 버튼이 아래에 있습니다. -->
                    <button type="button" class="btn 버튼-full" onclick="verifyFindInfo()">확인</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/bootstrap.bundle.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
    var csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
</script>
<script type="text/javascript">

    window.onload = function () {
        const urlParams = new URLSearchParams(window.location.search);
        const errorMessage = urlParams.get('error');
        if (errorMessage) {
            $('#loginError').text(errorMessage);
        }
    };

    function sendVerKey() {
        var name = $('#name').val();
        var phoneNum = $('#phoneNumber').val();

        $.ajax({
            type: 'POST',
            url: '/user/sendVerKey',
            contentType: 'application/json',
            data: JSON.stringify({name: name, phoneNum: phoneNum}),
            headers: {
                'X-CSRF-TOKEN': csrfToken
            },
            success: function (response) {
                if (response === "success") {
                    alert('인증번호을 발송했습니다.');
                    $('#verKeySection').show();
                } else {
                    alert('그런 사람없다.');
                }
            },
            error: function () {
                alert('서버 오류');
            },
        });
    }

    function findId() {
        var name = $('#name').val();
        var phoneNum = $('#phoneNumber').val();
        var verKey = $('#verKey').val();

        $.ajax({
            type: 'POST',
            url: '/user/findId',
            contentType: 'application/json',
            data: JSON.stringify({name: name, phoneNum: phoneNum, verKey: verKey}),
            headers: {
                [csrfHeader]: csrfToken
            },
            success: function (response) {
                if (response !== "fail") {
                    $('#findIdModal').modal('hide');
                    alert('인증번호가 확인되었습니다.');
                    alert('아이디 : ' + response);
                } else {
                    alert('인증번호가 일치하지 않습니다.');
                }
            },
            error: function () {
                alert('서버 오류');
            }
        });
    }

    $(document).ready(function () {
        $('#findIdModal').on('hidden.bs.modal', function () {
            // 모달이 닫힐 때 입력 필드 초기화
            $('#name').val('');
            $('#phoneNumber').val('');
            $('#verKey').val('');
            $('#verKeySection').hide();
        });

        $('#findPwModal').on('hidden.bs.modal', function () {
            // 모달이 닫힐 때 입력 필드 초기화
            $('#id').val('');
            $('#email').val('');
            $('#phoneNum').val('');
            $('#authNum').val('');
            $('#idSection').hide();
            $('#emailSection').hide();
            $('#phoneSection').hide();
            $('#authNumSection').hide();
        });
    });

    function showSection(sectionId) {
        // 선택한 라디오 버튼에 따라 해당 섹션을 보이게 처리
        $('#emailSection').hide();
        $('#phoneSection').hide();
        $('#verificationSection').hide();
        $('#idSection').show();

        $('#' + sectionId).show();
    }

    function sendVerificationCode() {
        var username = $('#id').val();
        var phoneNum = $('#phoneNum').val();

        $.ajax({
            type: 'POST',
            url: '/user/sendVerificationCode',
            contentType: 'application/json',
            data: JSON.stringify({username: username, phoneNum: phoneNum}),
            headers: {
                'X-CSRF-TOKEN': csrfToken
            },
            success: function (response) {
                if (response === "success") {
                    alert('인증번호을 발송했습니다.');
                    $('#authNumSection').show();
                } else {
                    alert('그런 사람없다.');
                }
            },
            error: function () {
                alert('서버 오류');
            },
        });
    }

    function verifyFindInfo() {
        var selectedMethod = $('input[name="findMethod"]:checked').val();
        var id = $('#id').val();

        if (selectedMethod === 'email') {
            var email = $('#email').val();
            var username = $('#id').val();

            $.ajax({
                type: 'POST',
                url: '/user/sendEmail',
                contentType: 'application/json',
                data: JSON.stringify({username: username, email: email}),
                headers: {
                    'X-CSRF-TOKEN': csrfToken
                },
                success: function (response) {
                    if (response === "success") {
                        alert('이메일을 발송했습니다.');
                    } else {
                        alert('그런 사람없다.');
                    }
                },
                error: function () {
                    alert('서버 오류');
                },
            });
        } else if (selectedMethod === 'phone') {
            var verificationCode = $('#authNum').val();
            var username = $('#id').val();
            var phoneNum = $('#phoneNum').val();

            $.ajax({
                type: 'POST',
                url: '/user/verifyCode',
                contentType: 'application/json',
                data: JSON.stringify({
                    username: username,
                    phoneNum: phoneNum,
                    verificationCode: verificationCode
                }),
                headers: {
                    [csrfHeader]: csrfToken
                },
                success: function (response) {
                    if (response.token) {
                        alert('인증에 성공했습니다.');
                        window.location.href = '/user/resetPw/' + response.token;
                    } else {
                        alert('인증에 실패했습니다.');
                    }
                },
                error: function () {
                    alert('서버 오류');
                }
            });
        }

        // 모달 닫기
        $('#findPwModal').modal('hide');
    }
</script>
</body>
</html>