<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="d-flex">
        <h3 class="highlight">마이페이지</h3>
    </div>
    <div class="d-flex align-items-center justify-content-between mb-5 py-3"
         style="border-top:1px solid #d8d3e0; border-bottom:1px solid #d8d3e0;">
        <div class="d-flex align-items-center">
            <img th:src="@{${user.image}}" alt=""
                 style="width:100px; height:100px; border:1px solid lightgray; border-radius:50%;">
            <div class="ms-3">
                <h4 th:text="|${user.name}님 안녕하세요.|"></h4>
                <a href="/user/edit" class="me-3">프로필 변경 ></a>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <a class="col-md-6 col-lg-3" th:data-uri="@{/idealType/create}" href="javascript:void(0)" id="idealTypeLink">
            <div class="card text-center">
                <div class="card-body">
                    <img src="/image/user/이상형.png" alt="" style="height: 70px; width: 70px;">
                    <h5 class="card-text mt-3">내 이상형 선택 ></h5>
                </div>
            </div>
        </a>
        <a class="col-md-6 col-lg-3" th:data-uri="@{/taste/check}" id="tasteLink" href="javascript:void(0)">
            <div class="card text-center">
                <div class="card-body">
                    <img src="/image/user/조사.png" alt="" style="height: 70px; width: 70px;">
                    <h5 class="card-text mt-3">내 연애관 조사 ></h5>
                </div>
            </div>
        </a>
        <a class="col-md-6 col-lg-3" type="button" data-bs-toggle="modal" data-bs-target="#voiceRecord">
            <div class="card text-center">
                <div class="card-body">
                    <img src="/image/user/녹음.png" alt="" style="height: 70px; width: 70px;">
                    <h5 class="card-text mt-3">음성 녹음 ></h5>
                </div>
            </div>
        </a>
        <a class="col-md-6 col-lg-3" th:href="@{/user/out}">
            <div class="card text-center">
                <div class="card-body">
                    <img src="/image/user/탈퇴.png" alt="" style="height: 70px; width: 70px;">
                    <h5 class="card-text mt-3">회원 탈퇴 ></h5>
                </div>
            </div>
        </a>
        <!-- 음성 녹음 모달 -->
        <div class="modal fade" id="voiceRecord" tabindex="-1" aria-labelledby="voiceRecordLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="voiceRecordLabel">30초 자기소개</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex justify-content-around align-items-center">
                            <div class="record-wrapper">
                                <button id="recordButton" class="record-button">▶</button>
                                <svg class="progress-ring" width="120" height="120" viewBox="0 0 120 120">
                                    <circle class="progress-ring__circle" stroke="black" stroke-width="8"
                                            fill="transparent" r="42" cx="60" cy="60"/>
                                </svg>
                            </div>
                            <div class="text-center">
                                <label for="audio" class="form-label"><i class="bi bi-headphones me-1"></i>미리 듣기</label>
                                <audio id="audio" controls></audio>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="saveButton" class="btn 버튼" disabled>저장</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-end my-2">
        <h4 class="underline-start">최근 문의내역</h4>
        <a th:href="@{/user/inquiry}">더보기 ></a>
    </div>
    <h5 class="text-center text-secondary p-5 card mb-5" th:if="${inquiryList.isEmpty()}">문의 내역 없음</h5>
    <div class="mb-5" th:if="${!inquiryList.isEmpty()}">
        <table class="table table-hover text-center">
            <thead class="table-head">
            <tr>
                <th>번호</th>
                <th>카테고리</th>
                <th>제목</th>
                <th>상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="inquiry : ${inquiryList}">
                <td th:text="${inquiry.id}"></td>
                <td th:text="${inquiry.category}"></td>
                <td><a th:href="@{|/inquiry/detail/${inquiry.id}|}" th:text="${inquiry.title}"></a></td>
                <td th:text="${inquiry.status}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-between align-items-end my-2">
        <h4 class="underline-start">최근 게시물</h4>
        <a th:href="@{/user/post}">더보기 ></a>
    </div>
    <h5 class="text-center text-secondary p-5 card mb-5" th:if="${postList.isEmpty()}">작성한 게시물 없음</h5>
    <div class="mb-5" th:if="${!postList.isEmpty()}">
        <table class="table table-hover text-center">
            <thead class="table-head">
            <tr>
                <th>번호</th>
                <th>내용</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${postList}">
                <td th:text="${post.id}"></td>
                <td><a th:href="@{|/post/detail/${post.id}|}" th:text="${post.content}"></a></td>
                <td th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-between align-items-end my-2">
        <h4 class="underline-start">최근 결제 내역</h4>
        <a th:href="@{/user/payment}">더보기 ></a>
    </div>
    <h5 class="text-center text-secondary p-5 card mb-5" th:if="${paymentList.isEmpty()}">결제 내역 없음</h5>
    <div class="mb-5" th:if="${!paymentList.isEmpty()}">
        <table class="table table-hover text-center">
            <thead class="table-head">
            <tr>
                <th>번호</th>
                <th>결제 금액</th>
                <th>버블</th>
                <th>결제일</th>
                <th>상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pay : ${paymentList}">
                <td th:text="${pay.id}"></td>
                <td th:text="${pay.amount}"></td>
                <td th:text="|+ ${pay.bubble}|"></td>
                <td th:text="${#temporals.format(pay.date, 'yyyy-MM-dd')}"></td>
                <td th:text="${pay.status == 'paid'} ? '결제 완료'"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <input type="hidden" id="userIdealType" th:value="${user.idealType}">
    <input type="hidden" id="userTaste" th:value="${user.taste}">
</div>
<script src="/record.js" layout:fragment="script"></script>
</html>