<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <h5>결제 수단을 선택해주세요.</h5>
    <div>
        <button onclick="selectPg('kakaopay')" class="btn" data-bs-toggle="button">카카오페이</button>
        <button onclick="selectPg('uplus')" class="btn" data-bs-toggle="button">토스페이먼츠</button>
        <button onclick="selectPg('danal')" class="btn" data-bs-toggle="button">휴대폰 결제</button>
    </div>
    <h5>결제할 버블을 선택해주세요.</h5>
    <div>
        <input onclick="pay(this.value)" type="button" value="100">
        <input onclick="pay(this.value)" type="button" value="300">
        <input onclick="pay(this.value)" type="button" value="500">
        <input onclick="pay(this.value)" type="button" value="1000">
    </div>
</div>
<input type="hidden" th:value="${user}">
<script type="text/javascript" layout:fragment="script">

    IMP.init('imp65467420');

    var selectedPg = '';

    function selectPg(pg) {
        selectedPg = pg;
    }

    var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
    var csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

    function pay(amount) {
        if (!selectedPg) {
            alert('결제 수단을 선택해주세요.');
            return;
        }

        IMP.request_pay({
            pg: selectedPg,
            pay_method: 'card',
            merchant_uid: 'merchant_' + new Date().getTime(),
            name: 'AraQ_Bubble 결제',
            amount: amount,
            buyer_email: '[[${user.email}]]',
            buyer_name: '[[${user.username}]]',
            buyer_tel: '010-1234-5678',
            buyer_addr: '서울특별시 강남구 삼성동',
            buyer_postcode: '123-456'
        }, function (rsp) {
            if (rsp.success) {
                var data = {
                    orderNum: rsp.merchant_uid,
                    date: new Date(rsp.paid_at * 1000).toISOString(),
                    amount: rsp.paid_amount,
                    method: rsp.pay_method,
                    username: rsp.buyer_name
                };
                fetch('/charge', {
                    method:'POST',
                    headers:{
                        'Content-Type' : 'application/json',
                        [csrfHeader]: csrfToken
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.text())
                .then(data => {
                    alert(data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            }
        });
    }
</script>
</html>
