<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <div>
        <button type="button" class="btn btn-secondary" id="payBtn">결제하기</button>
    </div>
</div>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.7.js"></script>
<script type="text/javascript">
    // 아임포트 초기화
    IMP.init('imp65467420');

    // 결제 함수 정의
    function pay() {
        console.log("결제 함수 호출됨");

        IMP.request_pay({
            pg: 'INIBillTst',
            pay_method: 'card',
            merchant_uid: 'merchant_' + new Date().getTime(),
            name: '주문명:결제테스트',
            amount: 1000,
            buyer_email: 'iamport@siot.do',
            buyer_name: '구매자이름',
            buyer_tel: '010-1234-5678',
            buyer_addr: '서울특별시 강남구 삼성동',
            buyer_postcode: '123-456'
        }, function (rsp) {
            if (rsp.success) {
                // 결제 성공 시 로직
            } else {
                // 결제 실패 시 로직
            }
        });
    }

    // 결제하기 버튼에 이벤트 리스너 추가
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('payBtn').addEventListener('click', pay);
    });
</script>
</html>
