<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3">
    <h3 class="underline my-3">아라큐 톡 내역</h3>
    <table class="table table-hover text-center">
        <thead class="table-head">
        <tr>
            <th>번호</th>
            <th>내용</th>
            <th>날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post, loop : ${user.postList}">
            <td th:text="${loop.count}"></td>
            <td><a th:href="@{|/post/detail/${post.id}|}" th:text="${post.content}"></a></td>
            <td th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
</div>
</html>