<html layout:decorate="~{layout}">
<head>

</head>
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>회원가입</h4>
        </div>
    </div>
    <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post" enctype="multipart/form-data">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div id="step1">
            <div class="mb-3">
                <label for="username" class="form-label">사용자ID</label>
                <input type="text" th:field="*{username}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">이름</label>
                <input type="text" th:field="*{name}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label">비밀번호</label>
                <input type="password" th:field="*{password1}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">비밀번호 확인</label>
                <input type="password" th:field="*{password2}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">이메일</label>
                <input type="email" th:field="*{email}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="phoneNum" class="form-label">핸드폰</label>
                <input type="text" th:field="*{phoneNum}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">사진 업로드</label>
                <input type="file" id="imageFiles" name="image" accept="image/**" class="form-control">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</div>
<script type='text/javascript' layout:fragment="script">
    function sample5_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                var addr = data.address; // 최종 주소 변수
                document.getElementById("address").value = addr;
            }
        }).open();
    }

    function nextStep(currentStepId, nextStepId) {
        document.getElementById(currentStepId).style.display = 'none';
        document.getElementById(nextStepId).style.display = 'block';
    }

    function prevStep(currentStepId, prevStepId) {
        document.getElementById(currentStepId).style.display = 'none';
        document.getElementById(prevStepId).style.display = 'block';
    }

    function updateMBTI() {
        var selectedE = document.querySelector('input[name="mbtiE"]:checked').value;
        var selectedS = document.querySelector('input[name="mbtiS"]:checked').value;
        var selectedT = document.querySelector('input[name="mbtiT"]:checked').value;
        var selectedJ = document.querySelector('input[name="mbtiJ"]:checked').value;

        var selectedMBTI = selectedE + selectedS + selectedT + selectedJ;

        document.getElementById('mbtiHidden').value = selectedMBTI;
    }

    document.addEventListener('DOMContentLoaded', function () {
        var checkboxes = document.querySelectorAll('input[name="personality"]');
        var maxAllowed = 3;

        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                var checkedCount = document.querySelectorAll('input[name="personality"]:checked').length;

                if (checkedCount > maxAllowed) {
                    alert('최대 3개의 성격을 선택할 수 있습니다.');
                    this.checked = false; // 체크를 해제합니다.
                }
            });
        });
    });
</script>
</html>