<html layout:decorate="~{layout}">
<head>
    <style>
        .btn-check:checked + .btn-secondary, .btn-check:checked + .btn-secondary:focus, .btn-check:checked + .btn-secondary:hover {
            background-color: #007bff;
            color: #fff;
            border-color: #007bff;
        }
    </style>
</head>
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>회원가입</h4>
        </div>
    </div>

    <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>

        <div id="step1">
            <div class="mb-3">
                <label for="username" class="form-label">사용자ID</label>
                <input type="text" th:field="*{username}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="nickName" class="form-label">별명</label>
                <input type="text" th:field="*{nickName}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label">비밀번호</label>
                <input type="password" th:field="*{password1}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">비밀번호 확인</label>
                <input type="password" th:field="*{password2}" class="form-control">
            </div>
            <button type="button" onclick="nextStep('step1', 'step2')">다음</button>
        </div>

        <div id="step2" style="display:none;">
            <div class="mb-3">
                <label for="email" class="form-label">이메일</label>
                <input type="email" th:field="*{email}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="phoneNum" class="form-label">핸드폰</label>
                <input type="text" th:field="*{phoneNum}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">주소</label>
                <input type="text" th:field="*{address}" class="form-control" id="address" readonly>
                <input type="button" onclick="sample5_execDaumPostcode()" value="주소 검색"><br>
            </div>
            <button type="button" onclick="prevStep('step2', 'step1')">이전</button>
            <button type="button" onclick="nextStep('step2', 'step3')">다음</button>
        </div>

        <div id="step3" style="display:none;">
            <div class="mb-3">
                <label for="height" class="form-label">키</label>
                <input type="text" th:field="*{height}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="age" class="form-label">나이</label>
                <input type="text" th:field="*{age}" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-label">성별</label>
                <div class="btn-group-toggle" data-toggle="buttons">
                    <input type="radio" th:field="*{gender}" class="btn-check" name="genderOption"
                           id="genderOption1" autocomplete="off" value="남성">
                    <label class="btn btn-secondary" for="genderOption1">남성</label>

                    <input type="radio" th:field="*{gender}" class="btn-check" name="genderOption"
                           id="genderOption2" autocomplete="off" value="여성">
                    <label class="btn btn-secondary" for="genderOption2">여성</label>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">종교</label>
                <div class="btn-group-toggle" data-toggle="buttons">
                    <input type="radio" th:field="*{religion}" class="btn-check" name="religionOption"
                           id="religionOption1" autocomplete="off" value="기독교">
                    <label class="btn btn-secondary" for="religionOption1">기독교</label>

                    <input type="radio" th:field="*{religion}" class="btn-check" name="religionOption"
                           id="religionOption2" autocomplete="off" value="천주교">
                    <label class="btn btn-secondary" for="religionOption2">천주교</label>

                    <input type="radio" th:field="*{religion}" class="btn-check" name="religionOption"
                           id="religionOption3" autocomplete="off" value="불교">
                    <label class="btn btn-secondary" for="religionOption3">불교</label>

                    <input type="radio" th:field="*{religion}" class="btn-check" name="religionOption"
                           id="religionOption4" autocomplete="off" value="무교">
                    <label class="btn btn-secondary" for="religionOption4">무교</label>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">음주</label>
                <div class="btn-group-toggle" data-toggle="buttons">
                    <input type="radio" th:field="*{drinking}" class="btn-check" name="drinkingOption"
                           id="drinkingOption1" autocomplete="off" value="전혀안함">
                    <label class="btn btn-secondary" for="drinkingOption1">전혀안함</label>

                    <input type="radio" th:field="*{drinking}" class="btn-check" name="drinkingOption"
                           id="drinkingOption2" autocomplete="off" value="가끔">
                    <label class="btn btn-secondary" for="drinkingOption2">가끔</label>

                    <input type="radio" th:field="*{drinking}" class="btn-check" name="drinkingOption"
                           id="drinkingOption3" autocomplete="off" value="자주">
                    <label class="btn btn-secondary" for="drinkingOption3">자주</label>

                    <input type="radio" th:field="*{drinking}" class="btn-check" name="drinkingOption"
                           id="drinkingOption4" autocomplete="off" value="매일">
                    <label class="btn btn-secondary" for="drinkingOption4">매일</label>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">흡연</label>
                <div class="btn-group-toggle" data-toggle="buttons">
                    <input type="radio" th:field="*{smoking}" class="btn-check" name="smokingOption" id="smokingYes"
                           autocomplete="off" value="흡연">
                    <label class="btn btn-secondary" for="smokingYes">흡연</label>

                    <input type="radio" th:field="*{smoking}" class="btn-check" name="smokingOption" id="smokingNo"
                           autocomplete="off" value="비흡연">
                    <label class="btn btn-secondary" for="smokingNo">비흡연</label>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">최종학력</label>
                <div class="btn-group-toggle" data-toggle="buttons">
                    <input type="radio" th:field="*{education}" class="btn-check" name="educationOption" id="highSchool"
                           autocomplete="off" value="고등학교 졸업">
                    <label class="btn btn-secondary" for="highSchool">고등학교 졸업</label>

                    <input type="radio" th:field="*{education}" class="btn-check" name="educationOption" id="university"
                           autocomplete="off" value="대학교 졸업">
                    <label class="btn btn-secondary" for="university">대학교 재학</label>

                    <input type="radio" th:field="*{education}" class="btn-check" name="educationOption"
                           id="universityGraduation"
                           autocomplete="off" value="대학교 재학">
                    <label class="btn btn-secondary" for="universityGraduation">대학교 졸업</label>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">MBTI</label>
                <div class="btn-group-toggle" data-toggle="buttons">
                    <input type="hidden" th:field="*{mbti}" id="mbtiHidden"/>
                    <!-- E/S 차원 (윗줄) -->
                    <input type="radio" class="btn-check" name="mbtiE" id="mbtiE1" autocomplete="off" value="E">
                    <label class="btn btn-secondary" for="mbtiE1">E</label>

                    <input type="radio" class="btn-check" name="mbtiS" id="mbtiS1" autocomplete="off" value="S">
                    <label class="btn btn-secondary" for="mbtiS1">S</label>

                    <input type="radio" class="btn-check" name="mbtiT" id="mbtiT1" autocomplete="off" value="T">
                    <label class="btn btn-secondary" for="mbtiT1">T</label>

                    <input type="radio" class="btn-check" name="mbtiJ" id="mbtiJ1" autocomplete="off" value="J">
                    <label class="btn btn-secondary" for="mbtiJ1">J</label>

                    <br>
                    <br>

                    <!-- I/N 차원 (아래줄) -->
                    <input type="radio" class="btn-check" name="mbtiE" id="mbtiE2" autocomplete="off" value="I">
                    <label class="btn btn-secondary" for="mbtiE2">I</label>

                    <input type="radio" class="btn-check" name="mbtiS" id="mbtiS2" autocomplete="off" value="N">
                    <label class="btn btn-secondary" for="mbtiS2">N</label>

                    <input type="radio" class="btn-check" name="mbtiT" id="mbtiT2" autocomplete="off" value="F">
                    <label class="btn btn-secondary" for="mbtiT2">F</label>

                    <input type="radio" class="btn-check" name="mbtiJ" id="mbtiJ2" autocomplete="off" value="P">
                    <label class="btn btn-secondary" for="mbtiJ2">P</label>
                </div>
            </div>


            <div class="mb-3">
                <label class="form-label">성격</label>
                <div class="btn-group-toggle" data-toggle="buttons">

                    <input type="checkbox" class="btn-check" name="personality" id="personality1" autocomplete="off" value="활발한">
                    <label class="btn btn-secondary" for="personality1">활발한</label>

                    <input type="checkbox" class="btn-check" name="personality" id="personality2" autocomplete="off" value="조용한">
                    <label class="btn btn-secondary" for="personality2">조용한</label>

                    <input type="checkbox" class="btn-check" name="personality" id="personality3" autocomplete="off" value="애교가넘치는">
                    <label class="btn btn-secondary" for="personality3">애교가넘치는</label>

                    <input type="checkbox" class="btn-check" name="personality" id="personality4" autocomplete="off" value="어른스러운">
                    <label class="btn btn-secondary" for="personality4">어른스러운</label>

                    <input type="checkbox" class="btn-check" name="personality" id="personality5" autocomplete="off" value="침착한">
                    <label class="btn btn-secondary" for="personality5">침착한</label>

                    <input type="checkbox" class="btn-check" name="personality" id="personality6" autocomplete="off" value="낙천적인">
                    <label class="btn btn-secondary" for="personality6">낙천적인</label>

                    <input type="checkbox" class="btn-check" name="personality" id="personality7" autocomplete="off" value="도전적인">
                    <label class="btn btn-secondary" for="personality7">도전적인</label>

                    <input type="checkbox" class="btn-check" name="personality" id="personality8" autocomplete="off" value="유머러스한">
                    <label class="btn btn-secondary" for="personality8">유머러스한</label>

                    <input type="checkbox" class="btn-check" name="personality" id="personality9" autocomplete="off" value="센스있는 ">
                    <label class="btn btn-secondary" for="personality9">센스있는 </label>

                    <input type="checkbox" class="btn-check" name="personality" id="personality10" autocomplete="off" value="열정적인">
                    <label class="btn btn-secondary" for="personality10">열정적인</label>
                </div>
            </div>

            <div class="mb-3">
                <label for="hobby" class="form-label">취미</label>
                <input type="text" th:field="*{hobby}" class="form-control">
            </div>

            <div class="mb-3">
                <label for="introduce" class="form-label">자기소개</label>
                <textarea th:field="*{introduce}" class="form-control"></textarea>
            </div>

            <button type="button" onclick="prevStep('step3', 'step2')">이전</button>
            <button type="button" onclick="updateMBTI(); nextStep('step3', 'step4')">다음</button>
        </div>

        <div id="step4" style="display:none;">
            <div class="mb-3">
                <label for="image" class="form-label">사진 업로드</label>
                <input type="file" id="imageFiles" name="image" accept="image/**" class="form-control">
            </div>
            <button type="button" onclick="prevStep('step4', 'step3')">이전</button>
            <button type="submit" class="btn btn-primary">회원가입</button>
        </div>
    </form>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function sample5_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    var addr = data.address; // 최종 주소 변수
                    document.getElementById("address").value = addr;
                }
            }).open();
        }

        function nextStep(currentStepId, nextStepId) {
            document.getElementById(currentStepId).style.display = 'none';
            document.getElementById(nextStepId).style.display = 'block';
        }

        function prevStep(currentStepId, prevStepId) {
            document.getElementById(currentStepId).style.display = 'none';
            document.getElementById(prevStepId).style.display = 'block';
        }

        function updateMBTI() {
        var selectedE = document.querySelector('input[name="mbtiE"]:checked').value;
        var selectedS = document.querySelector('input[name="mbtiS"]:checked').value;
        var selectedT = document.querySelector('input[name="mbtiT"]:checked').value;
        var selectedJ = document.querySelector('input[name="mbtiJ"]:checked').value;

        var selectedMBTI = selectedE + selectedS + selectedT + selectedJ;

        // 숨겨진 입력 필드 업데이트
        document.getElementById('mbtiHidden').value = selectedMBTI;
    }
        document.addEventListener('DOMContentLoaded', function () {
        var checkboxes = document.querySelectorAll('input[name="personality"]');
        var maxAllowed = 3;

        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                var checkedCount = document.querySelectorAll('input[name="personality"]:checked').length;

                if (checkedCount > maxAllowed) {
                    alert('최대 3개의 성격을 선택할 수 있습니다.');
                    this.checked = false; // 체크를 해제합니다.
                }
            });
        });
    });
    </script>
</div>
</html>