<html layout:decorate="~{layout}">
<head>
    <style>
        .btn-check:checked + .버튼, .btn-check:checked + .버튼:focus, .btn-check:checked + .버튼:hover {
            background-color: rgb(141, 128, 166);
            color: #fff;
            border-color: rgb(141, 128, 166);
        }

        .버튼:hover {
            background:rgb(186, 177, 201) !important;
            color:white !important;
            border:1px solid rgb(186, 177, 201) !important;
        }

        .passBtn {
            border:1px solid rgb(141, 128, 166);
            color:white;
            background:rgb(141, 128, 166);
            border-radius:50%;
            padding:8px 13px 8px 13px;
            font-size:15pt;
        }

        .passBtn:hover {
            border:1px solid rgb(96, 83, 119);
            background:rgb(96, 83, 119);
            color:white;
        }

        .addBtn {
            border:1px solid rgb(141, 128, 166);
            color:white;
            background:rgb(141, 128, 166);
            border-radius:50%;
            padding:8px 16px 8px 16px;
            font-size:15pt;
        }

        .addBtn:hover {
            border:1px solid rgb(96, 83, 119);
            background:rgb(96, 83, 119);
            color:white;
        }
    </style>
</head>
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4 class="underline-start">프로필 추가</h4>
        </div>
    </div>
    <form th:action="@{/user/update}" th:object="${userUpdateForm}" method="post" enctype="multipart/form-data"
          onkeydown="return handleEnterKey(event)">
        <input type="hidden" name="username" th:value="${user.username}">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div id="step1">
            <div class="mb-3">
                <label class="form-label">성별</label>
                <div class="btn-group-toggle" data-toggle="buttons">
                    <input type="radio" class="btn-check" name="genderOption"
                           id="genderOption1" autocomplete="off" value="남성" onchange="updateField('gender', '남성')">
                    <label class="btn 버튼" for="genderOption1">남성</label>

                    <input type="radio" class="btn-check" name="genderOption"
                           id="genderOption2" autocomplete="off" value="여성" onchange="updateField('gender', '여성')">
                    <label class="btn 버튼" for="genderOption2">여성</label>
                </div>
                <input type="hidden" th:field="*{gender}" id="genderHidden" name="gender" value="">
            </div>
            <div class="mb-3">
                <label class="form-label">종교</label>
                <div class="btn-group-toggle" data-toggle="buttons">
                    <input type="radio" class="btn-check" name="religionOption"
                           id="religionOption1" autocomplete="off" value="기독교"
                           onchange="updateField('religion', '기독교')">
                    <label class="btn 버튼" for="religionOption1">기독교</label>

                    <input type="radio" class="btn-check" name="religionOption"
                           id="religionOption2" autocomplete="off" value="천주교"
                           onchange="updateField('religion', '천주교')">
                    <label class="btn 버튼" for="religionOption2">천주교</label>

                    <input type="radio" class="btn-check" name="religionOption"
                           id="religionOption3" autocomplete="off" value="불교" onchange="updateField('religion', '불교')">
                    <label class="btn 버튼" for="religionOption3">불교</label>

                    <input type="radio" class="btn-check" name="religionOption"
                           id="religionOption4" autocomplete="off" value="무교" onchange="updateField('religion', '무교')">
                    <label class="btn 버튼" for="religionOption4">무교</label>
                </div>
                <input type="hidden" th:field="*{religion}" id="religionHidden" name="religion" value="">
            </div>
            <div class="mb-3">
                <label class="form-label">음주</label>
                <div class="btn-group-toggle" data-toggle="buttons">
                    <input type="radio" class="btn-check" name="drinkingOption"
                           id="drinkingOption1" autocomplete="off" value="전혀안함"
                           onchange="updateField('drinking', '전혀안함')">
                    <label class="btn 버튼" for="drinkingOption1">전혀안함</label>

                    <input type="radio" class="btn-check" name="drinkingOption"
                           id="drinkingOption2" autocomplete="off" value="가끔" onchange="updateField('drinking', '가끔')">
                    <label class="btn 버튼" for="drinkingOption2">가끔</label>

                    <input type="radio" class="btn-check" name="drinkingOption"
                           id="drinkingOption3" autocomplete="off" value="자주" onchange="updateField('drinking', '자주')">
                    <label class="btn 버튼" for="drinkingOption3">자주</label>

                    <input type="radio" class="btn-check" name="drinkingOption"
                           id="drinkingOption4" autocomplete="off" value="매일" onchange="updateField('drinking', '매일')">
                    <label class="btn 버튼" for="drinkingOption4">매일</label>
                </div>
                <input type="hidden" th:field="*{drinking}" id="drinkingHidden" name="drinking" value="">
            </div>
            <div class="mb-3">
                <label class="form-label">흡연</label>
                <div class="btn-group-toggle" data-toggle="buttons">
                    <input type="radio" class="btn-check" name="smokingOption" id="smokingYes"
                           autocomplete="off" value="흡연" onchange="updateField('smoking', '흡연')">
                    <label class="btn 버튼" for="smokingYes">흡연</label>
                    <input type="radio" class="btn-check" name="smokingOption" id="smokingNo"
                           autocomplete="off" value="비흡연" onchange="updateField('smoking', '비흡연')">
                    <label class="btn 버튼" for="smokingNo">비흡연</label>
                </div>
                <input type="hidden" th:field="*{smoking}" id="smokingHidden" name="smoking" value="">
            </div>
            <div class="mb-3">
                <label class="form-label">최종학력</label>
                <div class="btn-group-toggle" data-toggle="buttons">
                    <input type="radio" class="btn-check" name="educationOption" id="highSchool"
                           autocomplete="off" value="고등학교 졸업" onchange="updateField('education', '고등학교 졸업')">
                    <label class="btn 버튼" for="highSchool">고등학교 졸업</label>
                    <input type="radio" class="btn-check" name="educationOption" id="university"
                           autocomplete="off" value="대학교 졸업" onchange="updateField('education', '대학교 졸업')">
                    <label class="btn 버튼" for="university">대학교 재학</label>
                    <input type="radio" class="btn-check" name="educationOption"
                           id="universityGraduation"
                           autocomplete="off" value="대학교 재학" onchange="updateField('education', '대학교 재학')">
                    <label class="btn 버튼" for="universityGraduation">대학교 졸업</label>
                </div>
                <input type="hidden" th:field="*{education}" id="educationHidden" name="education" value="">
            </div>
            <div class="mb-3">
                <label class="form-label">MBTI</label>
                <div class="btn-group-toggle" data-toggle="buttons">
                    <input type="hidden" th:field="*{mbti}" id="mbtiHidden"/>
                    <!-- E/S 차원 (윗줄) -->
                    <input type="radio" class="btn-check" name="mbtiE" id="mbtiE1" autocomplete="off" value="E">
                    <label class="btn 버튼" for="mbtiE1">E</label>
                    <input type="radio" class="btn-check" name="mbtiS" id="mbtiS1" autocomplete="off" value="S">
                    <label class="btn 버튼" for="mbtiS1">S</label>
                    <input type="radio" class="btn-check" name="mbtiT" id="mbtiT1" autocomplete="off" value="T">
                    <label class="btn 버튼" for="mbtiT1">T</label>
                    <input type="radio" class="btn-check" name="mbtiJ" id="mbtiJ1" autocomplete="off" value="J">
                    <label class="btn 버튼" for="mbtiJ1">J</label>
                    <br>
                    <br>
                    <!-- I/N 차원 (아래줄) -->
                    <input type="radio" class="btn-check" name="mbtiE" id="mbtiE2" autocomplete="off" value="I">
                    <label class="btn 버튼" for="mbtiE2">I</label>
                    <input type="radio" class="btn-check" name="mbtiS" id="mbtiS2" autocomplete="off" value="N">
                    <label class="btn 버튼" for="mbtiS2">N</label>
                    <input type="radio" class="btn-check" name="mbtiT" id="mbtiT2" autocomplete="off" value="F">
                    <label class="btn 버튼" for="mbtiT2">F</label>
                    <input type="radio" class="btn-check" name="mbtiJ" id="mbtiJ2" autocomplete="off" value="P">
                    <label class="btn 버튼" for="mbtiJ2">P</label>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">성격</label>
                <div class="btn-group-toggle" data-toggle="buttons">
                    <input type="checkbox" class="btn-check" name="personality" id="personality1" autocomplete="off"
                           value="활발한">
                    <label class="btn 버튼" for="personality1">활발한</label>

                    <input type="checkbox" class="btn-check" name="personality" id="personality2" autocomplete="off"
                           value="조용한">
                    <label class="btn 버튼" for="personality2">조용한</label>

                    <input type="checkbox" class="btn-check" name="personality" id="personality3" autocomplete="off"
                           value="애교가넘치는">
                    <label class="btn 버튼" for="personality3">애교가넘치는</label>

                    <input type="checkbox" class="btn-check" name="personality" id="personality4" autocomplete="off"
                           value="어른스러운">
                    <label class="btn 버튼" for="personality4">어른스러운</label>

                    <input type="checkbox" class="btn-check" name="personality" id="personality5" autocomplete="off"
                           value="침착한">
                    <label class="btn 버튼" for="personality5">침착한</label>

                    <input type="checkbox" class="btn-check" name="personality" id="personality6" autocomplete="off"
                           value="낙천적인">
                    <label class="btn 버튼" for="personality6">낙천적인</label>

                    <input type="checkbox" class="btn-check" name="personality" id="personality7" autocomplete="off"
                           value="도전적인">
                    <label class="btn 버튼" for="personality7">도전적인</label>

                    <input type="checkbox" class="btn-check" name="personality" id="personality8" autocomplete="off"
                           value="유머러스한">
                    <label class="btn 버튼" for="personality8">유머러스한</label>

                    <input type="checkbox" class="btn-check" name="personality" id="personality9" autocomplete="off"
                           value="센스있는 ">
                    <label class="btn 버튼" for="personality9">센스있는 </label>

                    <input type="checkbox" class="btn-check" name="personality" id="personality10" autocomplete="off"
                           value="열정적인">
                    <label class="btn 버튼" for="personality10">열정적인</label>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <button type="button" onclick="nextStep('step1', 'step2')" class="passBtn btn">→</button>
            </div>
        </div>
        <div id="step2" style="display:none;">
            <div class="mb-3">
                <label for="nickName" class="form-label">별명</label>
                <input type="text" th:field="*{nickName}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">주소</label>
                <div class="input-group">
                    <input type="text" th:field="*{address}" class="form-control" id="address" readonly>
                    <input class="btn 버튼" type="button" onclick="sample5_execDaumPostcode()" value="주소 검색">
                </div>
            </div>
            <div class="mb-3">
                <label for="height" class="form-label">키</label>
                <input type="text" th:field="*{height}" class="form-control" oninput="validateNumberInput(this, '키는 숫자로 입력해주세요.')">
                <small class="text-muted">숫자로 입력해주세요.</small>
            </div>
            <div class="mb-3">
                <label for="age" class="form-label">나이</label>
                <input type="text" th:field="*{age}" class="form-control" oninput="validateNumberInput(this, '나이는 숫자로 입력해주세요.')">
                <small class="text-muted">숫자로 입력해주세요.</small>
            </div>
            <div class="mb-3">
                <label for="hobby" class="form-label">취미</label>
                <input type="text" th:field="*{hobby}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="introduce" class="form-label">자기소개</label>
                <textarea th:field="*{introduce}" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">사진 업로드</label>
                <input type="file" id="imageFiles1" name="images" accept="image/**" class="form-control" multiple>
                <input type="file" id="imageFiles2" name="images" accept="image/**" class="form-control" multiple>
                <input type="file" id="imageFiles3" name="images" accept="image/**" class="form-control" multiple>
            </div>
            <div class="d-flex justify-content-center">
            <button type="button" onclick="prevStep('step2', 'step1')" class="passBtn btn me-2">←</button>
            <button type="submit" class="btn addBtn" onclick="return checkOptions()">+</button>
            </div>
        </div>
    </form>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</div>
<script type='text/javascript' layout:fragment="script">
    function sample5_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                var addr = data.address; // 최종 주소 변수
                document.getElementById("address").value = addr;
            }
        }).open();
    }

    function validateNumberInput(inputField, errorMessage) {
        // 입력값이 숫자가 아니면 제거
        inputField.value = inputField.value.replace(/[^0-9]/g, '');

        // 에러 메시지 표시
        var errorElement = inputField.nextElementSibling;
        if (!/^\d+$/.test(inputField.value)) {
            errorElement.textContent = errorMessage;
            inputField.setCustomValidity(errorMessage);
        } else {
            errorElement.textContent = '';  // 에러 메시지 지우기
            inputField.setCustomValidity('');
        }
    }

    function nextStep(currentStepId, nextStepId) {
        document.getElementById(currentStepId).style.display = 'none';
        document.getElementById(nextStepId).style.display = 'block';
    }

    function prevStep(currentStepId, prevStepId) {
        document.getElementById(currentStepId).style.display = 'none';
        document.getElementById(prevStepId).style.display = 'block';
    }

    function updateMBTI() {
        var selectedE = document.querySelector('input[name="mbtiE"]:checked').value;
        var selectedS = document.querySelector('input[name="mbtiS"]:checked').value;
        var selectedT = document.querySelector('input[name="mbtiT"]:checked').value;
        var selectedJ = document.querySelector('input[name="mbtiJ"]:checked').value;

        var selectedMBTI = selectedE + selectedS + selectedT + selectedJ;

        document.getElementById('mbtiHidden').value = selectedMBTI;
    }

    document.addEventListener('DOMContentLoaded', function () {
        var checkboxes = document.querySelectorAll('input[name="personality"]');
        var maxAllowed = 3;

        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                var checkedCount = document.querySelectorAll('input[name="personality"]:checked').length;

                if (checkedCount > maxAllowed) {
                    alert('최대 3개의 성격을 선택할 수 있습니다.');
                    this.checked = false; // 체크를 해제합니다.
                }
            });
        });
    });
    function handleEnterKey(event) {
        if (event.keyCode === 13) {
            event.preventDefault(); // 엔터 키의 기본 동작을 막습니다.
            // 추가로 원하는 동작을 수행할 수 있습니다.
            return false;
        }
        return true;
    }
        function checkOptions() {
        // 라디오 버튼 유효성 검사
        var genderChecked = document.querySelector('input[name="genderOption"]:checked');
        var religionChecked = document.querySelector('input[name="religionOption"]:checked');
        var drinkingChecked = document.querySelector('input[name="drinkingOption"]:checked');
        var smokingChecked = document.querySelector('input[name="smokingOption"]:checked');
        var educationChecked = document.querySelector('input[name="educationOption"]:checked');
        var mbtiEChecked = document.querySelector('input[name="mbtiE"]:checked');
        var mbtiSChecked = document.querySelector('input[name="mbtiS"]:checked');
        var mbtiTChecked = document.querySelector('input[name="mbtiT"]:checked');
        var mbtiJChecked = document.querySelector('input[name="mbtiJ"]:checked');

        var nickName = document.getElementById('nickName').value.trim();
        var address = document.getElementById('address').value.trim();
        var height = document.getElementById('height').value.trim();
        var age = document.getElementById('age').value.trim();
        var hobby = document.getElementById('hobby').value.trim();
        var introduce = document.getElementById('introduce').value.trim();

        // 체크박스 유효성 검사
        var personalityChecked = document.querySelectorAll('input[name="personality"]:checked');

        // 각 그룹에 대해 최소한 하나의 옵션이 선택되었는지 확인
        if (!genderChecked || !religionChecked || !drinkingChecked || !smokingChecked ||
            !educationChecked || !mbtiEChecked || !mbtiSChecked || !mbtiTChecked || !mbtiJChecked) {
            alert('모든 항목을 선택하세요.');
            return false;
        }

        // 최소한 하나의 성격 체크박스가 선택되었는지 확인
        if (personalityChecked.length === 0) {
            console.log('성격 체크박스 중 적어도 하나가 선택되지 않았습니다.');
            alert('적어도 하나의 성격 옵션을 선택하세요.');
            return false;
        }

        if (nickName === "") {
            alert('별명을 입력하세요.');
            return false;
        } else if (address === "") {
            alert('주소를 찾아주세요.');
            return false;
        } else if (height === "") {
            alert('키를 입력하세요.');
            return false;
        } else if (age === "") {
            alert('나이를 입력하세요.');
            return false;
        } else if (hobby === "") {
            alert('취미를 입력하세요.');
            return false;
        } else if (introduce === "") {
            alert('자기소개를 입력하세요.');
            return false;
        }

        // 모든 유효성 검사가 통과되면 양식 제출 진행
        updateMBTI();  // 제출 전에 MBTI 업데이트
        return true;
    }

    function updateField(fieldName, selectedValue) {
        document.getElementById(fieldName + 'Hidden').value = selectedValue;
    }
</script>
</html>