<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <!-- 옵션 바 -->
    <div class="d-flex justify-content-around my-3 text-center">
        <ul class="menu">
            <li class="option"><a href="#">매칭</a></li>
            <ul class="depth">
                <li><a th:href="@{/match/around}">내 위치 주변</a></li>
                <li><a href="#">내 이상형</a></li>
                <li><a href="#">성향 및 관심사</a></li>
            </ul>
        </ul>
        <ul class="menu">
            <li class="option"><a href="#">채팅</a></li>
            <ul class="depth">
                <li><a th:href="@{/chat/list}">채팅 목록</a></li>
            </ul>
        </ul>
        <ul class="menu">
            <li class="option"><a href="#">설문</a></li>
            <ul class="depth">
                <li><a href="#">설문 참여</a></li>
            </ul>
        </ul>
        <ul class="menu">
            <li class="option"><a href="#">고객센터</a></li>
            <ul class="depth">
                <li><a th:href="@{/announcement/list}">공지사항</a></li>
                <li><a href="#">자주 묻는 질문</a></li>
                <li><a th:href="@{/inquiry/list}">나문희</a></li>
                <li><a th:href="@{/review/list}">회원 후기</a></li>
            </ul>
        </ul>
    </div>
    <!-- 매칭 추천 -->
    <h3 class="highlight"># 매칭 추천</h3>
    <div class="d-flex justify-content-between mt-3">
        <h1 class="border border-dark p-3">추천된 사람 1</h1>
        <h1 class="border border-dark p-3">추천된 사람 2</h1>
        <h1 class="border border-dark p-3">추천된 사람 3</h1>
    </div>
    <div class="d-flex justify-content-between mt-5">
        <h3 class="highlight"># AraQ Talk</h3>
        <div class="d-flex justify-content-end">
            <a th:href="@{/post/create}" class="btn 버튼-full mb-3">톡 작성하기</a>
        </div>
    </div>
    <div id="postsContainerWrapper" style="position: relative;">
        <div class="my-3" id="talkContainer" style="height:800px; overflow:hidden;">
            <div th:each="post : ${postList}">
                <div class="d-flex align-items-end mb-5" style="width:90%; margin:0 auto;">
                    <img th:src="@{${post.writer.image}}" alt="" style="width:30px; height:30px; border-radius:50%;"
                         th:if="${post.writer.username != user.username}" class="me-3">
                    <div th:classappend="${post.writer.username == user.username} ? 'me' : 'you'">
                        <a th:text="${post.content}" th:href="@{|/post/detail/${post.id}|}"></a>
                        <div class="time" th:text="${#temporals.format(post.createDate, 'MM-dd HH:mm')}"
                             style="font-size:10pt; color:gray;" th:if="${post.writer.username == user.username}"></div>
                        <div class="time" th:text="${#temporals.format(post.createDate, 'MM-dd HH:mm')}"
                             style="font-size:10pt; color:gray; text-align:end;"
                             th:if="${post.writer.username != user.username}"></div>
                    </div>
                    <img th:src="@{${post.writer.image}}" alt="" style="width:50px; height:50px; border-radius:50%;"
                         th:if="${post.writer.username == user.username}" class="ms-3">
                </div>
            </div>
        </div>
        <div id="scrollButtons" style="position: absolute; top: 50%; right: 1%; transform: translateY(-50%);">
            <button onclick="scrollToTop()" class="btn btn-sm 버튼 mb-2"><i class="bi bi-arrow-bar-up"></i></button>
            <button onclick="scrollUp()" class="btn btn-sm 버튼 mb-2"><i class="bi bi-arrow-up"></i></button>
            <button onclick="scrollDown()" class="btn btn-sm 버튼 mb-2"><i class="bi bi-arrow-down"></i></button>
            <button onclick="scrollToBottom()" class="btn btn-sm 버튼"><i class="bi bi-arrow-bar-down"></i></button>
        </div>
    </div>
    <div class="card mt-5" id="onlineUsers">
        <h3 class="card-header">현재 접속자</h3>
        <div class="card-body">
            <div class="dropdown dropend" th:each="online : ${onlineUsers}">
                <a href="#" th:text="${online.nickName}" data-bs-toggle="dropdown" aria-expanded="false"></a>
                <ul class="dropdown-menu">
                    <li><a class="viewProfile dropdown-item" href="javascript:void(0)"
                           th:data-value="${online.username}">프로필</a></li>
                    <li><a class="chatRequest dropdown-item" href="javascript:void(0)" th:data-nick="${online.nickName}"
                           th:data-value="${online.username}">채팅 신청</a></li>
                    <li>
                        <button class="reportBtn dropdown-item text-danger" type="button" data-bs-toggle="modal"
                                data-bs-target="#report" th:data-value="${online.username}">신고
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 신고 모달 -->
    <div class="modal fade" id="report" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="reportModalLabel">신고하기</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <form th:action="@{/report/create}" method="post" id="reportForm">
                    <input type="hidden" id="reportedUsername" name="reportedUsername">
                    <div class="modal-body">
                        <select class="form-select" aria-label="reportReason" name="reason" id="selectReason">
                            <option value="">신고 사유 선택</option>
                            <option value="1">채팅방 도배 및 광고</option>
                            <option value="2">욕설 / 폭언 / 비속어 등</option>
                            <option value="3">음란성 / 선정성</option>
                            <option value="4">기타</option>
                        </select>
                        <label for="detailReason" class="form-label mt-3">신고 내용</label>
                        <textarea id="detailReason" name="detailReason" rows="5" class="form-control"></textarea>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="submitBtn btn 버튼 btn-sm" value="제출">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/index.js}" layout:fragment="script"></script>
</html>