<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <!-- 매칭 추천 -->
    <div class="d-flex">
        <h3 class="highlight"># 매칭 추천</h3>
    </div>
    <div class="row mt-3">
        <div class="col-4" th:each="randomUser : ${userList}">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-5">
                        <img th:src="@{${randomUser.image}}" class="img-fluid rounded-start" alt="..."
                             style="height: 180px;">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body d-flex flex-column justify-content-between" style="height: 100%;">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <h5 th:text="${randomUser.nickName}" class="me-1"></h5>
                                    <span th:text="${randomUser.age}" style="font-size: 9pt; color: gray"></span>
                                </div>
                            </div>
                            <div>
                                <button type="button" class="araQBtn btn btn-sm 버튼"
                                        th:data-nick="${randomUser.nickName}" th:data-user="${randomUser.username}">
                                    <div class="d-flex align-items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-suit-heart-fill me-1"
                                             viewBox="0 0 16 16">
                                            <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
                                        </svg>
                                        <div>아라큐</div>
                                    </div>
                                </button>
                            </div>
                            <div style="margin-top:auto;">
                                <button type="button" class="profileBtn w-100 btn 버튼-full"
                                        th:data-user="${randomUser.username}">프로필 보기
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between mt-3">
        <div class="card" id="onlineUsers" style="width: 30%;">
            <h5 class="card-header">현재 접속자</h5>
            <div class="card-body">
                <div class="dropdown dropend" th:each="online : ${onlineUsers}">
                    <a href="#" th:text="${online.nickName}" data-bs-toggle="dropdown" aria-expanded="false"></a>
                    <ul class="dropdown-menu">
                        <li><a class="viewProfile dropdown-item" href="javascript:void(0)"
                               th:data-value="${online.username}">프로필</a></li>
                        <li><a class="chatRequest dropdown-item" href="javascript:void(0)"
                               th:data-nick="${online.nickName}"
                               th:data-value="${online.username}">채팅 신청</a></li>
                        <li>
                            <button class="reportBtn dropdown-item text-danger" type="button" data-bs-toggle="modal"
                                    data-bs-target="#report" th:data-value="${online.username}">신고
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card" style="width:68%;">
            <h5 class="card-header text-center">매칭 상태</h5>
            <div class="card-body">
                <div class="card-text">
                    <div class="matchResult" th:each="like : ${likeList}">
                        <!-- 요청 보낸 사람이 로그인한 유저일 때 -->
                        <div th:if="${like.user.username == user.username}"
                             class="d-flex justify-content-between align-items-center my-3">
                            <img th:src="@{${like.user.image}}" alt=""
                                 style="width: 50px; height: 50px; border-radius: 50%;">
                            <div class="arrow-container">
                                <div class="arrow-line-left"></div>
                                <div class="arrow-head-left">▶</div>
                            </div>
                            <i class="bi bi bi-heart fs-1" style="color: pink;" th:if="${like.status == '매칭 대기'}"></i>
                            <i class="bi bi bi-heart-fill fs-1" style="color: pink;"
                               th:if="${like.status == '매칭 성공'}"></i>
                            <i class="bi bi-heartbreak fs-1" style="color: pink;" th:if="${like.status == '매칭 실패'}"></i>
                            <div class="arrow-container" th:if="${like.status == '매칭 성공'}">
                                <div class="arrow-head-right">◀</div>
                                <div class="arrow-line-right"></div>
                            </div>
                            <div th:if="${like.status == '매칭 대기'}"
                                 style="width: 315px; text-align: center;">
                                <div class="question fs-2 fw-bold">?</div>
                            </div>
                            <div class="arrow-container" th:if="${like.status == '매칭 실패'}">
                                <div class="arrow-head-right">◀</div>
                                <div class="xLine-right"></div>
                            </div>
                            <img th:src="@{${like.likedUser.image}}" alt=""
                                 style="width: 50px; height: 50px; border-radius: 50%;">
                        </div>
                        <!-- 요청 받은 사람이 로그인한 유저일 때 -->
                        <div th:if="${like.likedUser.username == user.username}"
                             class="d-flex justify-content-between align-items-center my-3">
                            <img th:src="@{${like.likedUser.image}}" alt=""
                                 style="width: 50px; height: 50px; border-radius: 50%;">
                            <div class="arrow-container" th:if="${like.status == '매칭 성공'}">
                                <div class="arrow-line-left"></div>
                                <div class="arrow-head-left">▶</div>
                            </div>
                            <div th:if="${like.status == '매칭 대기' || like.status == '대기'}"
                                 style="width: 315px; text-align: center;">
                                <div class="question fs-2 fw-bold">?</div>
                            </div>
                            <div class="arrow-container" th:if="${like.status == '매칭 실패'}">
                                <div class="xLine-left"></div>
                                <div class="arrow-head-left">▶</div>
                            </div>
                            <i class="bi bi bi-heart-fill fs-1" style="color: pink;"
                               th:if="${like.status == '매칭 성공'}"></i>
                            <div th:if="${like.status == '매칭 대기'}">
                                <a type="button" class="버튼-full btn btn-sm acceptBtn" href="javascript:void(0)"
                                   th:data-uri="@{|/like/accept/${like.id}|}">수락</a>
                                <a type="button" class="btn 버튼 btn-sm refuseBtn" href="javascript:void(0)"
                                   th:data-uri="@{|/like/refuse/${like.id}|}">거절</a>
                            </div>
                            <i class="bi bi-heartbreak fs-1" style="color: pink;" th:if="${like.status == '매칭 실패'}"></i>
                            <div class="arrow-container">
                                <div class="arrow-head-right">◀</div>
                                <div class="arrow-line-right"></div>
                            </div>
                            <img th:src="@{${like.user.image}}" alt=""
                                 style="width: 50px; height: 50px; border-radius: 50%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between mt-5 mb-3">
        <h3 class="highlight"># AraQ Talk</h3>
        <div class="d-flex justify-content-end">
            <a th:href="@{/post/create}" class="btn 버튼-full mb-3">톡 작성하기</a>
        </div>
    </div>
    <div id="postsContainerWrapper" style="position: relative;" class="my-3">
        <div class="my-3 p-2" id="talkContainer" style="max-height:600px; overflow:hidden;">
            <div th:each="post : ${postList}">
                <div class="d-flex align-items-end mb-5" style="width:90%; margin:0 auto;">
                    <img th:src="@{${post.writer.image}}" alt=""
                         style="border:2px solid #d8d3e0; width:50px; height:50px; border-radius:50%;"
                         th:if="${post.writer.username != user.username}" class="me-3">
                    <div th:classappend="${post.writer.username == user.username} ? 'me' : 'you'">
                        <a th:text="${post.content}" th:href="@{|/post/detail/${post.id}|}"></a>
                        <div class="time" th:text="${#temporals.format(post.createDate, 'MM-dd HH:mm')}"
                             style="font-size:10pt; color:gray;" th:if="${post.writer.username == user.username}"></div>
                        <div class="time" th:text="${#temporals.format(post.createDate, 'MM-dd HH:mm')}"
                             style="font-size:10pt; color:gray; text-align:end;"
                             th:if="${post.writer.username != user.username}"></div>
                    </div>
                    <img th:src="@{${post.writer.image}}" alt=""
                         style="border:2px solid #d8d3e0; width:50px; height:50px; border-radius:50%;"
                         th:if="${post.writer.username == user.username}" class="ms-3">
                </div>
            </div>
        </div>
        <div id="scrollButtons" style="position: absolute; top: 50%; right: 1%; transform: translateY(-50%);">
            <button onclick="scrollToTop()" class="btn btn-sm 버튼 mb-2"><i class="bi bi-arrow-bar-up"></i></button>
            <button onclick="scrollUp()" class="btn btn-sm 버튼 mb-2"><i class="bi bi-arrow-up"></i></button>
            <button onclick="scrollDown()" class="btn btn-sm 버튼 mb-2"><i class="bi bi-arrow-down"></i></button>
            <button onclick="scrollToBottom()" class="btn btn-sm 버튼"><i class="bi bi-arrow-bar-down"></i></button>
        </div>
    </div>
    <!-- 신고 모달 -->
    <div class="modal fade" id="report" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="reportModalLabel">신고하기</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <form th:action="@{/report/create}" method="post" id="reportForm">
                    <input type="hidden" id="reportedUsername" name="reportedUsername">
                    <div class="modal-body">
                        <select class="form-select" aria-label="reportReason" name="reason" id="selectReason">
                            <option value="">신고 사유 선택</option>
                            <option value="1">채팅방 도배 및 광고</option>
                            <option value="2">욕설 / 폭언 / 비속어 등</option>
                            <option value="3">음란성 / 선정성</option>
                            <option value="4">기타</option>
                        </select>
                        <label for="detailReason" class="form-label mt-3">신고 내용</label>
                        <textarea id="detailReason" name="detailReason" rows="5" class="form-control"></textarea>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="submitBtn btn 버튼 btn-sm" value="제출">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/index.js}" layout:fragment="script"></script>
</html>