<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <!-- 옵션 바 -->
    <div class="d-flex justify-content-around my-3 text-center">
        <ul class="menu">
            <li class="option"><a href="#">매칭</a></li>
            <ul class="depth">
                <li><a th:href="@{/match/around}">내 위치 주변</a></li>
                <li><a href="#">내 이상형</a></li>
                <li><a href="#">성향 및 관심사</a></li>
            </ul>
        </ul>
        <ul class="menu">
            <li class="option"><a href="#">채팅</a></li>
            <ul class="depth">
                <li><a th:href="@{/chat/list}">채팅 목록</a></li>
            </ul>
        </ul>
        <ul class="menu">
            <li class="option"><a href="#">설문</a></li>
            <ul class="depth">
                <li><a href="#">설문 참여</a></li>
            </ul>
        </ul>
        <ul class="menu">
            <li class="option"><a href="#">고객센터</a></li>
            <ul class="depth">
                <li><a href="#">공지사항</a></li>
                <li><a href="#">자주 묻는 질문</a></li>
                <li><a th:href="@{/inquiry/list}">나문희</a></li>
                <li><a th:href="@{/review/list}">회원 후기</a></li>
            </ul>
        </ul>
    </div>
    <!-- 매칭 추천 -->
    <h3># 매칭 추천</h3>
    <div class="d-flex justify-content-between my-3">
        <h1 class="border border-dark p-3">추천된 사람 1</h1>
        <h1 class="border border-dark p-3">추천된 사람 2</h1>
        <h1 class="border border-dark p-3">추천된 사람 3</h1>
    </div>
    <h3># AraQ Talk</h3>
    <div id="postsContainerWrapper" style="position: relative;">
        <div class="my-3 border border-dark p-3" id="talkContainer" style="height:800px; overflow:hidden;">
            <div class="d-flex justify-content-end">
                <a th:href="@{/post/create}" class="btn btn-outline-dark">톡 작성하기</a>
            </div>
            <div th:each="post : ${postList}">
                <div th:classappend="${post.writer.username == user.username} ? 'me' : 'you'">
                    <a th:text="${post.content}" th:href="@{|/post/detail/${post.id}|}"></a>
                </div>
            </div>
        </div>
        <div id="scrollButtons" style="position: absolute; top: 50%; right: 0; transform: translateY(-50%);">
            <button onclick="scrollUp()">▲</button>
            <button onclick="scrollDown()">▼</button>
        </div>
    </div>
    <div class="card" id="onlineUsers">
        <h3 class="card-header">현재 접속자</h3>
        <div class="card-body">
            <div class="dropdown dropend" th:each="online : ${onlineUsers}">
                <a href="#" th:text="${online.nickName}" data-bs-toggle="dropdown" aria-expanded="false"></a>
                <ul class="dropdown-menu">
                    <li><a class="viewProfile dropdown-item" href="javascript:void(0)"
                           th:data-value="${online.username}">프로필</a></li>
                    <li><a class="chatRequest dropdown-item" href="javascript:void(0)" th:data-nick="${online.nickName}"
                           th:data-value="${online.username}">채팅 신청</a></li>
                    <li><a class="dropdown-item text-danger" href="#">신고</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/index.js}" layout:fragment="script">
</script>
</html>