<div th:fragment="modal">
    <div class="modal fade" id="chatRequestModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="chatRequestModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="chatRequestModalLabel"></h1>
                </div>
                <div class="modal-body">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-6">
                                <img class="profileImage img-fluid rounded-start" alt="..." src="">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <h5 class="nickName card-title"></h5>
                                        <small class="userAge ms-3"></small>
                                    </div>
                                    <p class="introduce card-text"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="refuse btn btn-secondary" data-bs-dismiss="modal">거절</button>
                    <button type="button" class="accept btn btn-primary">수락</button>
                </div>
            </div>
        </div>
        <input id="requestUsername" type="hidden">
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="chatToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img class="profile rounded me-2" alt="..." style="width:30px;height:30px;">
                <strong class="nickName me-auto"></strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <a href="#"></a>
            </div>
        </div>
    </div>
    <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="profileModalLabel"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img class="profileImage img-fluid rounded-start" alt="..." src="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h5 class="card-title me-2" style="font-weight:bold;"></h5>
                                            <div class="age" style="font-size: 10pt; color: gray;"></div>
                                        </div>
                                    </div>
                                    <p class="introduce card-text"></p>
                                    <div class="d-flex align-items-center">
                                        <audio class="audio"></audio>
                                        <i class="bi bi-earbuds me-1 listen"></i>
                                        <span id="audioDuration">00:00</span>
                                        <input type="hidden" class="username">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center my-3">
                        <a data-bs-toggle="collapse" href="#moreInfoForm" role="button" aria-expanded="false"
                           aria-controls="moreInfoForm" class="badge bg-secondary text-light">더보기</a>
                    </div>
                    <div class="collapse" id="moreInfoForm">
                        <table class="table">
                            <tr>
                                <th>키</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>술</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>흡연</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>성격</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>취미</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>MBTI</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>종교</th>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="voiceChatModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="voiceChatModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:200px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close closeBtn"></button>
                </div>
                <div class="modal-body text-center">
                    <div>
                        <i class="bi bi-headphones" style="font-size: 50px;"></i>
                        <audio id="voiceChatPlayer" autoplay controls style="display: none"></audio>
                    </div>
                    <div class="progress" role="progressbar">
                        <div class="progress-bar" style="width: 0">60</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 신고 모달 -->
    <div class="modal fade" id="report" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="reportModalLabel">신고하기</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <form th:action="@{/report/create}" method="post" id="reportForm">
                    <input type="hidden" id="reportedUsername" name="reportedUsername">
                    <input type="hidden" id="reportedRoomCode" name="reportedRoomCode">
                    <div class="modal-body">
                        <select class="form-select" aria-label="reportReason" name="reason" id="selectReason">
                            <option value="">신고 사유 선택</option>
                            <option value="1">채팅방 도배 및 광고</option>
                            <option value="2">욕설 / 폭언 / 비속어 등</option>
                            <option value="3">음란성 / 선정성</option>
                            <option value="4">기타</option>
                        </select>
                        <label for="detailReason" class="form-label mt-3">신고 내용</label>
                        <textarea id="detailReason" name="detailReason" rows="5" class="form-control"></textarea>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="submitBtn btn 버튼 btn-sm" value="제출">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>