<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/araq.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>AraQ</title>
    <style>
        @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
        .rate {
            display: inline-block;
            border: 0;
            margin-right: 15px;
        }
        .rate > input {
            display: none;
        }
        .rate > label {
            float: right;color: #ddd
        }
        .rate > label:before {
            display: inline-block;
            font-size: 3rem;
            padding: .3rem .6rem;
            margin: 0;
            cursor: pointer;
            font-family: FontAwesome;
            content: "\f005 ";
        }
        .rate .half:before {
            content: "\f089 ";
            position: absolute;
            padding-right: 0;
        }
        .rate input:checked ~ label, .rate label:hover,.rate label:hover ~ label {
            color: #f73c32 !important;
            }
        .rate input:checked + .rate label:hover, .rate input input:checked ~ label:hover, .rate input:checked ~ .rate label:hover ~ label,
        .rate label:hover ~ input:checked ~ label {
            color: #f73c32 !important;
        }
    </style>
</head>
<body>
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<th:block layout:fragment="content"></th:block>
<div sec:authorize="isAuthenticated()" class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
     aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">내 정보</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body text-center">
        <div class="d-flex justify-content-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
                 class="bi bi-person-square" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"/>
            </svg>
        </div>
        <div th:text="${user.username}"><!-- 닉네임으로 변경 --></div>
        <div class="d-flex justify-content-center align-items-center">
            <div th:text="|내 버블 : ${user.bubble}|"></div>
            <img src="/image/bubble.jpg" alt="" style="width:20px; height:20px;">
            <a th:href="@{/payment}" class="badge bg-light text-dark border border-dark">충전하기</a>
        </div>
        <div class="d-flex justify-content-end align-items-center">
            <a th:href="@{/user/logout}">
                <span>로그아웃</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                    <path fill-rule="evenodd"
                          d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                </svg>
            </a>
        </div>
    </div>
</div>
<div class="modal fade" id="chatRequestModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="chatRequestModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="chatRequestModalLabel"></h1>
            </div>
            <div class="modal-body">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-6">
                            <img th:src="@{/profile/default-m.jpg}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <div class="d-flex">
                                    <h5 class="nickName card-title"></h5>
                                    <small class="userAge ms-3"></small>
                                </div>
                                <p class="introduce card-text"></p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="refuse btn btn-secondary" data-bs-dismiss="modal">거절</button>
                <button type="button" class="accept btn btn-primary">수락</button>
            </div>
        </div>
    </div>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="chatToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img class="profile rounded me-2" alt="..." style="width:30px;height:30px;">
            <strong class="nickName me-auto"></strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <a href="#"></a>
        </div>
    </div>
</div>
<input type="hidden" sec:authorize="isAuthenticated()" th:value="${user.username}" id="hiddenUserName">
<script type="text/javascript" th:src="@{/bootstrap.bundle.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
<script src="https://cdn.iamport.kr/js/iamport.payment-1.1.7.js"></script>
<script type="text/javascript">
    $(function() {

        var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        var csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        if($("#hiddenUserName").val() != null && !window.location.pathname.includes("/chat/join")) {
            var socket = new SockJS("/ws");
            var stompClient = Stomp.over(socket);

            stompClient.connect({}, function(frame) {

                stompClient.send("/app/online", {}, JSON.stringify({
                    type: "online",
                    target: $("#hiddenUserName").val()
                }));

                stompClient.subscribe("/topic/all/" + $("#hiddenUserName").val(), function(message) {
                    var data = JSON.parse(message.body);
                    var chatToast = new bootstrap.Toast($('#chatToast'), {
                        autohide: false
                    });

                    if (data.type == "chatRequest") {
                        $("#chatRequestModal .modal-title").text(data.content);
                        $("#chatRequestModal .nickName").text(data.nickname);
                        $("#chatRequestModal .userAge").text(data.age);
                        $("#chatRequestModal .introduce").text(data.introduce);
                        $("#chatRequestModal").modal("show");
                    }

                    else if (data.type == "refuse")
                        alert(data.content);

                    else if (data.type == "acceptChat") {
                        alert(data.nickname + "님이 수락했습니다. 채팅방으로 이동합니다.");
                        window.location.href = "/chat/join/" + data.content;
                    }

                    else if (data.type == "sendChat") {
                        $("#chatToast .profile").attr("src", data.image);
                        $("#chatToast .nickName").text(data.nickname);
                        $("#chatToast .toast-body > a").text(data.content);
                        $("#chatToast .toast-body > a").attr("href", "/chat/join/" + data.target);
                        chatToast.show();
                    }
                });
            });
        }

        $("#chatRequestModal .refuse").on('click', function() {
            stompClient.send("/app/alert", {}, JSON.stringify({
                type: "refuse",
                target: $("#chatRequestModal .nickName").text()
            }));
        });

        $("#chatRequestModal .accept").on('click', function() {

            $.ajax({
                url: "/chat/create",
                type: "POST",
                headers: {
                    [csrfHeader]: csrfToken
                },
                contentType:"text/plain",
                data: $("#chatRequestModal .nickName").text(),
                success: function(data) {
                    window.location.href = "/chat/join/" + data;
                },
                error: function(err) {
                    alert("채팅방 생성에 실패했습니다.");
                }
            });
        });

        $(window).on('beforeunload', function() {
            $.ajax({
                url: "/offline",
                type: "POST",
                headers: {
                    [csrfHeader]: csrfToken
                },
                contentType:"text/plain",
                data: $("#hiddenUserName").val()
            });
        });
    });
</script>
<th:block layout:fragment="script"></th:block>
</body>
</html>