<nav th:fragment="navbarFragment" class="navbar sticky-top navbar-expand-lg border-bottom">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mx-auto" href="/"><h1>AraQ</h1></a>
        <div class="d-flex">
            <button sec:authorize="isAuthenticated()" class="btn" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight"
                    aria-controls="offcanvasRight">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                     class="bi bi-person-heart"
                     viewBox="0 0 16 16">
                    <path d="M9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4Zm13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276Z"/>
                </svg>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropend border-bottom ps-3">
                    <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#matchDown"
                       aria-controls="matchDown" aria-expanded="false" href="#">매칭</a>
                    <ul class="collapse" id="matchDown">
                        <li><a class="dropdown-item" th:href="@{/match/around}">내 위치 주변</a></li>
                        <li><a class="dropdown-item idealTypeMatchLink" href="javascript:void(0)"
                               th:data-uri="@{/match/idealType}">내 이상형</a></li>
                        <li><a class="dropdown-item mb-2" th:href="@{/match/personalityType}">성향 및 관심사</a></li>
                    </ul>
                </li>
                <li class="nav-item dropend border-bottom ps-3">
                    <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#chatDown"
                       aria-controls="chatDown" aria-expanded="false" href="#">채팅</a>
                    <ul class="collapse" id="chatDown">
                        <li><a class="dropdown-item" th:href="@{/chat/list}">채팅 목록</a></li>
                        <li><a class="dropdown-item mb-2" th:href="@{/plaza/join}">만남의 광장</a></li>
                    </ul>
                </li>
                <li class="nav-item dropend border-bottom ps-3">
                    <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#checkDown"
                       aria-controls="checkDown" aria-expanded="false" href="#">설문</a>
                    <ul class="collapse" id="checkDown">
                        <li><a class="dropdown-item mb-2" th:href="@{/taste/main}">취향 조사</a></li>
                    </ul>
                </li>
                <li class="nav-item dropend ps-3">
                    <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#supportDown"
                       aria-controls="supportDown" aria-expanded="false" href="#">고객지원</a>
                    <ul class="collapse" id="supportDown">
                        <li><a class="dropdown-item" th:href="@{/announcement/list}">공지사항</a></li>
                        <li><a class="dropdown-item" href="#">자주 묻는 질문</a></li>
                        <li><a class="dropdown-item" th:href="@{/inquiry/list}">나문희</a></li>
                        <li><a class="dropdown-item" th:href="@{/review/list}">회원 후기</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>