<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <h3 class="underline mb-3">버블 충전</h3>
    <div class="border-bottom border-top py-3">
        <div class="text-center">
            <div class="d-flex justify-content-center align-items-center">
                <div style="font-size:2rem; font-family:'nanum-bold'; margin-right:5px;" th:text="${user.bubble}"></div>
                <img src="/image/araQ/bubble.jpg" alt="" style="width:50px; height:50px;">
            </div>
            <div>내 보유 버블</div>
        </div>
    </div>
    <h4 class="my-3">결제 수단</h4>
    <div class="row">
        <button onclick="selectPg('kakaopay')" class="btn kakao col-lg-4 col-md-6 col-sm-12" data-bs-toggle="button">
            <img src="/image/etc/kakao.png" alt="" style="margin-right:10px; height:20px; width:auto;">카카오페이
        </button>
        <button onclick="selectPg('uplus')" class="btn toss col-lg-4 col-md-6 col-sm-12" data-bs-toggle="button">
            <img src="/image/etc/toss.png" alt="" style="margin-right:10px; height:20px; width:auto;">토스페이먼츠
        </button>
        <button onclick="selectPg('danal')" class="btn phone col-lg-4 col-md-6 col-sm-12" data-bs-toggle="button">
            <img src="/image/etc/phone.png" alt="" style="margin-right:10px; height:20px; width:auto;">휴대폰 결제
        </button>
    </div>
    <h4 class="my-3">결제할 버블</h4>
    <div>
        <div class="bubble d-flex justify-content-between align-items-center" style="border-top:1px solid lightgray;">
            <div><img src="/image/araQ/bubble.jpg" alt="" style="width:30px; height:30px; margin-right:10px;">1000
                <span>버블</span></div>
            <div class="뱃지">￦ 1000</div>
        </div>
        <div class="bubble d-flex justify-content-between align-items-center">
            <div><img src="/image/araQ/bubble.jpg" alt="" style="width:30px; height:30px; margin-right:10px;">3000
                <span>버블</span></div>
            <div class="뱃지">￦ 3000</div>
        </div>
        <div class="bubble d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <div><img src="/image/araQ/bubble.jpg" alt="" style="width:30px; height:30px; margin-right:10px;">5500
                    <span>버블</span>
                </div>
                <div class="badge bg-danger text-light ms-3">+ 10%</div>
            </div>
            <div class="뱃지">￦ 5000</div>
        </div>
        <div class="bubble d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <div><img src="/image/araQ/bubble.jpg" alt="" style="width:30px; height:30px; margin-right:10px;">11000
                    <span>버블</span>
                </div>
                <div class="badge bg-danger text-light ms-3">+ 10%</div>
            </div>
            <div class="뱃지">￦ 10000</div>
        </div>
        <div class="bubble d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <div><img src="/image/araQ/bubble.jpg" alt="" style="width:30px; height:30px; margin-right:10px;">33000
                    <span>버블</span>
                </div>
                <div class="badge bg-danger text-light ms-3">+ 10%</div>
            </div>
            <div class="뱃지">￦ 30000</div>
        </div>
        <div class="bubble d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <div><img src="/image/araQ/bubble.jpg" alt="" style="width:30px; height:30px; margin-right:10px;">55000
                    <span>버블</span>
                </div>
                <div class="badge bg-danger text-light ms-3">+ 10%</div>
            </div>
            <div class="뱃지">￦ 50000</div>
        </div>
        <div class="bubble d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <div><img src="/image/araQ/bubble.jpg" alt="" style="width:30px; height:30px; margin-right:10px;">110000
                    <span>버블</span>
                </div>
                <div class="badge bg-danger text-light ms-3">+ 10%</div>
            </div>
            <div class="뱃지">￦ 100000</div>
        </div>
    </div>
    <h4 class="mb-3 mt-4">이용권 구매</h4>
    <div class="ticket d-flex justify-content-between align-items-center"
         style="border-top:1px solid lightgray;">
        <div class="ticketName" style="font-size: 13pt;"><img src="/image/etc/ticket.png" alt=""
                                                              style="width:40px; height:40px; margin-right:20px;">매칭 우선권 (1일)
        </div>
        <div class="뱃지"><img src="/image/araQ/bubble.jpg" alt="" style="width: 20px; height: 20px; margin-right: 5px;">500
        </div>
    </div>
    <div class="ticket d-flex justify-content-between align-items-center"
         style="border-top:1px solid lightgray;">
        <div class="ticketName" style="font-size: 13pt;"><img src="/image/etc/ticket.png" alt=""
                                                              style="width:40px; height:40px; margin-right:20px;">매칭 우선권 (7일)
        </div>
        <div class="뱃지"><img src="/image/araQ/bubble.jpg" alt="" style="width: 20px; height: 20px; margin-right: 5px;">1000
        </div>
    </div>
    <div class="ticket d-flex justify-content-between align-items-center"
         style="border-top:1px solid lightgray;">
        <div class="ticketName" style="font-size: 13pt;"><img src="/image/etc/ticket.png" alt=""
                                                              style="width:40px; height:40px; margin-right:20px;">매칭 우선권 (30일)
        </div>
        <div class="뱃지"><img src="/image/araQ/bubble.jpg" alt="" style="width: 20px; height: 20px; margin-right: 5px;">3500
        </div>
    </div>
    <div class="ticket d-flex justify-content-between align-items-center"
         style="border-top:1px solid lightgray;">
        <div class="ticketName" style="font-size: 13pt;"><img src="/image/etc/ticket4.png" alt=""
                                                              style="width:40px; height:40px; margin-right:20px;">음성 이용권 (1일)
        </div>
        <div class="뱃지"><img src="/image/araQ/bubble.jpg" alt="" style="width: 20px; height: 20px; margin-right: 5px;">500
        </div>
    </div>
    <div class="ticket d-flex justify-content-between align-items-center"
         style="border-top:1px solid lightgray;">
        <div class="ticketName" style="font-size: 13pt;"><img src="/image/etc/ticket4.png" alt=""
                                                              style="width:40px; height:40px; margin-right:20px;">음성 이용권 (7일)
        </div>
        <div class="뱃지"><img src="/image/araQ/bubble.jpg" alt="" style="width: 20px; height: 20px; margin-right: 5px;">1000
        </div>
    </div>
    <div class="ticket d-flex justify-content-between align-items-center"
         style="border-top:1px solid lightgray;">
        <div class="ticketName" style="font-size: 13pt;"><img src="/image/etc/ticket4.png" alt=""
                                                              style="width:40px; height:40px; margin-right:20px;">음성 이용권 (30일)
        </div>
        <div class="뱃지"><img src="/image/araQ/bubble.jpg" alt="" style="width: 20px; height: 20px; margin-right: 5px;">3500
        </div>
    </div>
    <div class="ticket d-flex justify-content-between align-items-center"
         style="border-top:1px solid lightgray;">
        <div class="ticketName" style="font-size: 13pt;"><img src="/image/etc/ticket3.png" alt=""
                                                              style="width:40px; height:40px; margin-right:20px;">아라큐 신청권 (1개)
        </div>
        <div class="뱃지"><img src="/image/araQ/bubble.jpg" alt="" style="width: 20px; height: 20px; margin-right: 5px;">1000
        </div>
    </div>
    <div class="ticket d-flex justify-content-between align-items-center"
         style="border-top:1px solid lightgray;">
        <div class="ticketName" style="font-size: 13pt;"><img src="/image/etc/ticket3.png" alt=""
                                                              style="width:40px; height:40px; margin-right:20px;">아라큐 신청권 (5개)
        </div>
        <div class="뱃지"><img src="/image/araQ/bubble.jpg" alt="" style="width: 20px; height: 20px; margin-right: 5px;">4800
        </div>
    </div>
    <div class="ticket d-flex justify-content-between align-items-center"
         style="border-top:1px solid lightgray;">
        <div class="ticketName" style="font-size: 13pt;"><img src="/image/etc/ticket3.png" alt=""
                                                              style="width:40px; height:40px; margin-right:20px;">아라큐 신청권 (10개)
        </div>
        <div class="뱃지"><img src="/image/araQ/bubble.jpg" alt="" style="width: 20px; height: 20px; margin-right: 5px;">9000
        </div>
    </div>
    <div class="ticket d-flex justify-content-between align-items-center"
         style="border-top:1px solid lightgray;">
        <div class="ticketName" style="font-size: 13pt;"><img src="/image/etc/ticket2.png" alt=""
                                                              style="width:40px; height:40px; margin-right:20px;">채팅 신청권 (1개)
        </div>
        <div class="뱃지"><img src="/image/araQ/bubble.jpg" alt="" style="width: 20px; height: 20px; margin-right: 5px;">1500
        </div>
    </div>
    <div class="ticket d-flex justify-content-between align-items-center"
         style="border-top:1px solid lightgray;">
        <div class="ticketName" style="font-size: 13pt;"><img src="/image/etc/ticket2.png" alt=""
                                                              style="width:40px; height:40px; margin-right:20px;">채팅 신청권 (3개)
        </div>
        <div class="뱃지"><img src="/image/araQ/bubble.jpg" alt="" style="width: 20px; height: 20px; margin-right: 5px;">4300
        </div>
    </div>
    <div class="ticket d-flex justify-content-between align-items-center"
         style="border-top:1px solid lightgray;">
        <div class="ticketName" style="font-size: 13pt;"><img src="/image/etc/ticket2.png" alt=""
                                                              style="width:40px; height:40px; margin-right:20px;">채팅 신청권 (5개)
        </div>
        <div class="뱃지"><img src="/image/araQ/bubble.jpg" alt="" style="width: 20px; height: 20px; margin-right: 5px;">7000
        </div>
    </div>
    <div class="ticket d-flex justify-content-between align-items-center"
         style="border-top:1px solid lightgray;">
        <div class="ticketName" style="font-size: 13pt;"><img src="/image/etc/ticket5.png" alt=""
                                                              style="width:40px; height:40px; margin-right:20px;">평가 열람권 (1개)
        </div>
        <div class="뱃지"><img src="/image/araQ/bubble.jpg" alt="" style="width: 20px; height: 20px; margin-right: 5px;">1000
        </div>
    </div>
    <div class="ticket d-flex justify-content-between align-items-center"
         style="border-top:1px solid lightgray;">
        <div class="ticketName" style="font-size: 13pt;"><img src="/image/etc/ticket5.png" alt=""
                                                              style="width:40px; height:40px; margin-right:20px;">평가 열람권 (3개)
        </div>
        <div class="뱃지"><img src="/image/araQ/bubble.jpg" alt="" style="width: 20px; height: 20px; margin-right: 5px;">2800
        </div>
    </div>
    <div class="ticket d-flex justify-content-between align-items-center"
         style="border-top:1px solid lightgray;">
        <div class="ticketName" style="font-size: 13pt;"><img src="/image/etc/ticket5.png" alt=""
                                                              style="width:40px; height:40px; margin-right:20px;">평가 열람권 (5개)
        </div>
        <div class="뱃지"><img src="/image/araQ/bubble.jpg" alt="" style="width: 20px; height: 20px; margin-right: 5px;">4500
        </div>
    </div>
    <h4 class="mb-3 mt-4">광장 전용 말풍선</h4>
    <div class="d-flex justify-content-center">
        <div class="card p-1 fs-5" style="width: fit-content" id="exampleCard">"이것은 예시 입니다."</div>
    </div>
    <div class="row my-3">
        <div class="col-6">
            <label for="background" class="form-label" style="border-bottom: 1px solid #D8D3E0;">배경색</label>
            <input type="color" class="form-control form-control-color" id="background" style="width: 70%; margin: 0 auto; height: 100px;">
        </div>
        <div class="col-6">
            <label for="fontColor" class="form-label" style="border-bottom: 1px solid #D8D3E0;">글자색</label>
            <input type="color" class="form-control form-control-color" id="fontColor" style="width: 70%; margin: 0 auto; height: 100px;">
        </div>
    </div>
    <div class="ticket d-flex justify-content-between align-items-center"
         style="border-top:1px solid lightgray;">
        <div class="ticketName" style="font-size: 13pt;"><img src="/image/etc/speechBubble.png" alt=""
                                                              style="width:40px; height:40px; margin-right:20px;">말풍선 이용권 (7일)
        </div>
        <div class="뱃지"><img src="/image/araQ/bubble.jpg" alt="" style="width: 20px; height: 20px; margin-right: 5px;">300
        </div>
    </div>
</div>
<input type="hidden" th:value="${user}">
<script type="text/javascript" layout:fragment="script">
    var selectedPg = '';
    var amount = '';

    function selectPg(pg) {
        var buttons = document.querySelectorAll('.btn[data-bs-toggle="button"]');
        buttons.forEach(function (button) {
            button.classList.remove('active');
        });

        var clickedButton = document.querySelector('.btn[data-bs-toggle="button"][onclick="selectPg(\'' + pg + '\')"]');
        clickedButton.classList.add('active');

        selectedPg = pg;
    }

    $(function () {
        IMP.init('imp65467420');

        $('#background').on('input', function() {
            var backgroundColor = $(this).val();
            $('#exampleCard').css('background-color', backgroundColor);
        });

        $('#fontColor').on('input', function() {
            var fontColor = $(this).val();
            $('#exampleCard').css('color', fontColor);
        });

        $('.ticket').click(function () {
            var ticketName = $(this).find('.ticketName').text().trim();
            var bubble = $(this).find('.뱃지').text().trim();
            var background = $('#background').val();
            var color = $('#fontColor').val();

            if (confirm(bubble + " 버블을 사용하여 '" + ticketName + "' 을 구매합니다."))
                $.ajax({
                    url: "/purchase",
                    type: "POST",
                    headers: {
                        [csrfHeader]: csrfToken
                    },
                    contentType: "application/json",
                    data: JSON.stringify({
                        ticketName: ticketName,
                        bubble: bubble,
                        background : background,
                        color : color
                    }),
                    success: function (data) {
                        alert(data);
                        location.reload();
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
        });

        $('.bubble').on('click', function () {
            if (!selectedPg) {
                alert('결제 수단을 선택해주세요.');
                return;
            }

            var bubbleValueElement = $(this).find('div:first-child');
            var bubbleValue = bubbleValueElement.text();
            var bubbleNumber = parseInt(bubbleValue.match(/\d+/)[0]);

            var badgeElement = $(this).find('.뱃지');
            var text = badgeElement.text();
            var matchResult = text.match(/\d+/);
            amount = parseInt(matchResult[0]);

            IMP.request_pay({
                pg: selectedPg,
                pay_method: 'card',
                merchant_uid: '[[${user.id}]]' + new Date().getTime(),
                name: 'AraQ_Bubble 결제',
                amount: amount,
                buyer_email: '[[${user.email}]]',
                buyer_name: '[[${user.username}]]',
                buyer_tel: '[[${user.phoneNum}]]',
                buyer_addr: '[[${user.address}]]',
                status: status
            }, function (rsp) {
                if (rsp.success) {
                    var data = {
                        orderNum: rsp.merchant_uid,
                        amount: rsp.paid_amount,
                        method: rsp.pay_method,
                        username: rsp.buyer_name,
                        card: rsp.card_name,
                        impUid: rsp.imp_uid,
                        status: rsp.status,
                        pg: rsp.pg_provider,
                        bubble: bubbleNumber
                    };
                    $.ajax({
                        url: '/charge',
                        type: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            [csrfHeader]: csrfToken
                        },
                        data: JSON.stringify(data),
                        success: function (response) {
                            alert(response);
                            location.reload();
                        },
                        error: function (error) {
                            console.error('Error:', error);
                        }
                    });
                }
            });
        });
    });
</script>
</html>
