<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="card">
        <div style="height:60vh; overflow-y:scroll;" id="chatBoard">
            <div class="chatBox" th:each="chat : ${chatList}">
                <img th:src="@{${chat.writer.image}}" alt="">
                <div>
                     <p th:text="${chat.writer.nickName}"></p>
                    <div class="card">
                        <p class="card-body" th:text="${chat.content}"></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-secondary btn-sm p-0 m-auto" type="button" data-bs-toggle="collapse"
                data-bs-target="#chatMoreFunction"
                aria-expanded="false" aria-controls="collapseExample" style="width:50px">
            더보기
        </button>
        <div class="collapse" id="chatMoreFunction">
            <div class="card card-body">
                <div class="d-flex justify-content-around">
                    <a href="#">기능</a>
                    <a href="#">기능</a>
                    <a href="#">기능</a>
                    <a href="#">기능</a>
                </div>
            </div>
        </div>
        <form class="input-group" id="sendChatForm" autocomplete="off">
            <input type="text" id="msgContent" class="form-control">
            <button type="submit" class="btn btn-primary">보내기</button>
        </form>
    </div>
    <a th:href="@{/chat/list}" class="btn btn-secondary">나가기</a>
</div>
<script layout:fragment="script" th:inline="javascript">
    $(function() {
        $("#msgContent").focus();
        var chatBoard = document.getElementById("chatBoard");
        chatBoard.scrollTop = chatBoard.scrollHeight;

        var socket = new SockJS("/ws");
        var stompClient = Stomp.over(socket);
        var roomCode = [[${room.code}]];
        var nickName = [[${user.nickName}]];
        var user = [[${user.username}]];
        var target = [[${target.username}]];

        stompClient.connect({}, function(frame) {

            stompClient.send("/app/online", {}, JSON.stringify({
                type: "online",
                target: $("#hiddenUserName").val()
            }));

            stompClient.subscribe("/topic/chat/" + roomCode, function(message) {
                var m = JSON.parse(message.body);

                $.ajax({
                    url: "/user/getInfo",
                    type: "post",
                    contentType: "text/plain",
                    dataType: "json",
                    data: m.writer,
                    headers: {
                        [csrfHeader]: csrfToken
                    },
                    success: function(data) {
                        var element =
                        '<div class="chatBox">' +
                            '<img src="' + data.image + '" alt="">' +
                            '<div>' +
                                '<p>' + data.nickName + '</p>' +
                                '<div class="card">' +
                                    '<p class="card-body">' + m.content + '</p>' +
                                '</div>' +
                            '</div>' +
                        '</div>';

                        if (data.writer == user) {
                            element =
                                '<div class="chatBox">' +
                                '<div>' +
                                    '<p>' + data.nickName + '</p>' +
                                    '<div class="card">' +
                                        '<p class="card-body">' + m.content + '</p>' +
                                    '</div>' +
                                '</div>' +
                                '<img src="' + data.image + '" alt="">' +
                            '</div>';
                        }

                        $("#chatBoard").append(element);
                        chatBoard.scrollTop = chatBoard.scrollHeight;
                    },
                    error: function(err) {
                        alert("요청이 실패하였습니다.");
                    }
                });
            });
        });

        $("#sendChatForm").submit(function(event) {
            event.preventDefault();

            if($("#msgContent").val() != "") {
                stompClient.send("/app/send", {}, JSON.stringify({
                    content: $("#msgContent").val(),
                    writer: user,
                    code: roomCode,
                    target: target
                }));
            }

            $("#msgContent").val("");
            $("#msgContent").focus();
        });

        $(window).on('beforeunload', function() {
            $.ajax({
                url: "/offline",
                type: "POST",
                headers: {
                    [csrfHeader]: csrfToken
                },
                contentType:"text/plain",
                data: $("#hiddenUserName").val()
            });
        });
    });
</script>
</html>