<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <input type="text" id="msgContent">
    <button type="button" id="sendMsgBtn" class="btn btn-primary">보내기</button>
</div>
<script layout:fragment="script">
    $(function() {
        var socket = new SockJS("/ws");
        var stompClient = Stomp.over(socket);

        stompClient.connect({}, function(frame) {
            stompClient.subscribe("/topic/chat", function(message) {
                alert(JSON.parse(message.body).content);
            });
        });

        $("#sendMsgBtn").on('click', function() {
            stompClient.send("/app/send", {}, JSON.stringify({
                content: $("#msgContent").val(),
                writer: "stranger"
            }));
            $("#msgContent").val("");
        });

    });
</script>
</html>