<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div style="margin: 0; padding: 0; height: 100%; display: flex; justify-content: center; align-items: center;">
        <div>
            <h3 class="underline my-3">성향 및 관심사 매칭</h3>
            <!-- 종교 -->
            <div th:if="${!religionList.isEmpty()}" class="border-bottom pb-3">
                <div class="my-3 text-center">
                    <div class="d-flex justify-content-center">
                        <img src="/image/quote/left.png" alt="" style="height: 20px; width: auto;">
                        <h5 class="mx-1">종교</h5>
                        <img src="/image/quote/right.png" alt="" style="height: 20px; width: auto;">
                    </div>
                    <div class="ms-1" th:text="|가 일치하는 ${#lists.size(religionList)}명의 회원이 추천되었습니다.|"></div>
                </div>
                <div id="religionCarousel" class="carousel slide mt-5" style="max-width: 700px;">
                    <div class="carousel-inner">
                        <div class="carousel-item active" th:each="targetUser : ${religionList}">
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-md-7">
                                        <img th:src="@{${targetUser.image}}" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-5">
                                        <div class="card-body"
                                             style="height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                                            <h3 class="card-title text-center my-2"
                                                style="font-family: 'nanum-semiBold',serif"
                                                th:text="${targetUser.nickName}"></h3>
                                            <div>
                                                <div class="my-2">
                                                    <button type="button" class="araQBtn btn 버튼 w-100"
                                                            th:if="${likesStatus[targetUser.username] == null}"
                                                            th:data-nick="${targetUser.nickName}"
                                                            th:data-user="${targetUser.username}">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                 height="16"
                                                                 fill="currentColor" class="bi bi-suit-heart-fill me-1"
                                                                 viewBox="0 0 16 16">
                                                                <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
                                                            </svg>
                                                            <div>아라큐</div>
                                                        </div>
                                                    </button>
                                                    <button type="button" class="araQBtn btn 버튼 w-100" disabled
                                                            th:if="${likesStatus[targetUser.username] == '매칭 성공'}"
                                                            th:data-nick="${targetUser.nickName}"
                                                            th:data-user="${targetUser.username}">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                 height="16"
                                                                 fill="currentColor"
                                                                 class="bi bi-arrow-through-heart-fill me-1"
                                                                 viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd"
                                                                      d="M2.854 15.854A.5.5 0 0 1 2 15.5V14H.5a.5.5 0 0 1-.354-.854l1.5-1.5A.5.5 0 0 1 2 11.5h1.793l3.103-3.104a.5.5 0 1 1 .708.708L4.5 12.207V14a.5.5 0 0 1-.146.354l-1.5 1.5ZM16 3.5a.5.5 0 0 1-.854.354L14 2.707l-1.006 1.006c.236.248.44.531.6.845.562 1.096.585 2.517-.213 4.092-.793 1.563-2.395 3.288-5.105 5.08L8 13.912l-.276-.182A23.825 23.825 0 0 1 5.8 12.323L8.31 9.81a1.5 1.5 0 0 0-2.122-2.122L3.657 10.22a8.827 8.827 0 0 1-1.039-1.57c-.798-1.576-.775-2.997-.213-4.093C3.426 2.565 6.18 1.809 8 3.233c1.25-.98 2.944-.928 4.212-.152L13.292 2 12.147.854A.5.5 0 0 1 12.5 0h3a.5.5 0 0 1 .5.5v3Z"/>
                                                            </svg>
                                                            <div>매칭 완료</div>
                                                        </div>
                                                    </button>
                                                    <button type="button" class="araQBtn btn 버튼 w-100" disabled
                                                            th:if="${likesStatus[targetUser.username] == '매칭 대기'}"
                                                            th:data-nick="${targetUser.nickName}"
                                                            th:data-user="${targetUser.username}">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                 height="16"
                                                                 fill="currentColor" class="bi bi-suit-heart me-1"
                                                                 viewBox="0 0 16 16">
                                                                <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                                                            </svg>
                                                            <div>매칭 대기</div>
                                                        </div>
                                                    </button>
                                                </div>
                                                <div>
                                                    <button type="button" class="btn btn-outline-dark w-100 viewProfile"
                                                            th:data-value="${targetUser.username}">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <i class="bi bi-file-person me-1"></i>
                                                            <div>프로필</div>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#religionCarousel"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon text-dark" aria-hidden="false"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#religionCarousel"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <!-- 흡연 -->
            <div th:if="${!smokingList.isEmpty()}" class="border-bottom pb-3">
                <div class="my-3 text-center">
                    <div class="d-flex justify-content-center">
                        <img src="/image/quote/left.png" alt="" style="height: 20px; width: auto;">
                        <h5 class="mx-1">흡연 여부</h5>
                        <img src="/image/quote/right.png" alt="" style="height: 20px; width: auto;">
                    </div>
                    <div class="ms-1" th:text="|가 일치하는 ${#lists.size(smokingList)}명의 회원이 추천되었습니다.|"></div>
                </div>
                <div id="smokingCarousel" class="carousel slide mt-5" style="max-width: 700px;">
                    <div class="carousel-inner">
                        <div class="carousel-item active" th:each="targetUser : ${smokingList}">
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-md-7">
                                        <img th:src="@{${targetUser.image}}" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-5">
                                        <div class="card-body"
                                             style="height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                                            <h3 class="card-title text-center my-2"
                                                style="font-family: 'nanum-semiBold',serif"
                                                th:text="${targetUser.nickName}"></h3>
                                            <div>
                                                <div class="my-2">
                                                    <button type="button" class="araQBtn btn 버튼 w-100"
                                                            th:if="${likesStatus[targetUser.username] == null}"
                                                            th:data-nick="${targetUser.nickName}"
                                                            th:data-user="${targetUser.username}">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                 height="16"
                                                                 fill="currentColor" class="bi bi-suit-heart-fill me-1"
                                                                 viewBox="0 0 16 16">
                                                                <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
                                                            </svg>
                                                            <div>아라큐</div>
                                                        </div>
                                                    </button>
                                                    <button type="button" class="araQBtn btn 버튼 w-100" disabled
                                                            th:if="${likesStatus[targetUser.username] == '매칭 성공'}"
                                                            th:data-nick="${targetUser.nickName}"
                                                            th:data-user="${targetUser.username}">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                 height="16"
                                                                 fill="currentColor"
                                                                 class="bi bi-arrow-through-heart-fill me-1"
                                                                 viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd"
                                                                      d="M2.854 15.854A.5.5 0 0 1 2 15.5V14H.5a.5.5 0 0 1-.354-.854l1.5-1.5A.5.5 0 0 1 2 11.5h1.793l3.103-3.104a.5.5 0 1 1 .708.708L4.5 12.207V14a.5.5 0 0 1-.146.354l-1.5 1.5ZM16 3.5a.5.5 0 0 1-.854.354L14 2.707l-1.006 1.006c.236.248.44.531.6.845.562 1.096.585 2.517-.213 4.092-.793 1.563-2.395 3.288-5.105 5.08L8 13.912l-.276-.182A23.825 23.825 0 0 1 5.8 12.323L8.31 9.81a1.5 1.5 0 0 0-2.122-2.122L3.657 10.22a8.827 8.827 0 0 1-1.039-1.57c-.798-1.576-.775-2.997-.213-4.093C3.426 2.565 6.18 1.809 8 3.233c1.25-.98 2.944-.928 4.212-.152L13.292 2 12.147.854A.5.5 0 0 1 12.5 0h3a.5.5 0 0 1 .5.5v3Z"/>
                                                            </svg>
                                                            <div>매칭 완료</div>
                                                        </div>
                                                    </button>
                                                    <button type="button" class="araQBtn btn 버튼 w-100" disabled
                                                            th:if="${likesStatus[targetUser.username] == '매칭 대기'}"
                                                            th:data-nick="${targetUser.nickName}"
                                                            th:data-user="${targetUser.username}">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                 height="16"
                                                                 fill="currentColor" class="bi bi-suit-heart me-1"
                                                                 viewBox="0 0 16 16">
                                                                <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                                                            </svg>
                                                            <div>매칭 대기</div>
                                                        </div>
                                                    </button>
                                                </div>
                                                <div>
                                                    <button type="button" class="btn btn-outline-dark w-100 viewProfile"
                                                            th:data-value="${targetUser.username}">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <i class="bi bi-file-person me-1"></i>
                                                            <div>프로필</div>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#smokingCarousel"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon text-dark" aria-hidden="false"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#smokingCarousel"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <!-- 음주 -->
            <div th:if="${!drinkingList.isEmpty()}" class="border-bottom pb-3">
                <div class="my-3 text-center">
                    <div class="d-flex justify-content-center">
                        <img src="/image/quote/left.png" alt="" style="height: 20px; width: auto;">
                        <h5 class="mx-1">음주 여부</h5>
                        <img src="/image/quote/right.png" alt="" style="height: 20px; width: auto;">
                    </div>
                    <div class="ms-1" th:text="|가 일치하는 ${#lists.size(drinkingList)}명의 회원이 추천되었습니다.|"></div>
                </div>
                <div id="drinkingCarousel" class="carousel slide mt-5" style="max-width: 700px;">
                    <div class="carousel-inner">
                        <div class="carousel-item active" th:each="targetUser : ${drinkingList}">
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-md-7">
                                        <img th:src="@{${targetUser.image}}" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-5">
                                        <div class="card-body"
                                             style="height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                                            <h3 class="card-title text-center my-2"
                                                style="font-family: 'nanum-semiBold',serif"
                                                th:text="${targetUser.nickName}"></h3>
                                            <div>
                                                <div class="my-2">
                                                    <button type="button" class="araQBtn btn 버튼 w-100"
                                                            th:if="${likesStatus[targetUser.username] == null}"
                                                            th:data-nick="${targetUser.nickName}"
                                                            th:data-user="${targetUser.username}">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                 height="16"
                                                                 fill="currentColor" class="bi bi-suit-heart-fill me-1"
                                                                 viewBox="0 0 16 16">
                                                                <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
                                                            </svg>
                                                            <div>아라큐</div>
                                                        </div>
                                                    </button>
                                                    <button type="button" class="araQBtn btn 버튼 w-100" disabled
                                                            th:if="${likesStatus[targetUser.username] == '매칭 성공'}"
                                                            th:data-nick="${targetUser.nickName}"
                                                            th:data-user="${targetUser.username}">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                 height="16"
                                                                 fill="currentColor"
                                                                 class="bi bi-arrow-through-heart-fill me-1"
                                                                 viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd"
                                                                      d="M2.854 15.854A.5.5 0 0 1 2 15.5V14H.5a.5.5 0 0 1-.354-.854l1.5-1.5A.5.5 0 0 1 2 11.5h1.793l3.103-3.104a.5.5 0 1 1 .708.708L4.5 12.207V14a.5.5 0 0 1-.146.354l-1.5 1.5ZM16 3.5a.5.5 0 0 1-.854.354L14 2.707l-1.006 1.006c.236.248.44.531.6.845.562 1.096.585 2.517-.213 4.092-.793 1.563-2.395 3.288-5.105 5.08L8 13.912l-.276-.182A23.825 23.825 0 0 1 5.8 12.323L8.31 9.81a1.5 1.5 0 0 0-2.122-2.122L3.657 10.22a8.827 8.827 0 0 1-1.039-1.57c-.798-1.576-.775-2.997-.213-4.093C3.426 2.565 6.18 1.809 8 3.233c1.25-.98 2.944-.928 4.212-.152L13.292 2 12.147.854A.5.5 0 0 1 12.5 0h3a.5.5 0 0 1 .5.5v3Z"/>
                                                            </svg>
                                                            <div>매칭 완료</div>
                                                        </div>
                                                    </button>
                                                    <button type="button" class="araQBtn btn 버튼 w-100" disabled
                                                            th:if="${likesStatus[targetUser.username] == '매칭 대기'}"
                                                            th:data-nick="${targetUser.nickName}"
                                                            th:data-user="${targetUser.username}">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                 height="16"
                                                                 fill="currentColor" class="bi bi-suit-heart me-1"
                                                                 viewBox="0 0 16 16">
                                                                <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                                                            </svg>
                                                            <div>매칭 대기</div>
                                                        </div>
                                                    </button>
                                                </div>
                                                <div>
                                                    <button type="button" class="btn btn-outline-dark w-100 viewProfile"
                                                            th:data-value="${targetUser.username}">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <i class="bi bi-file-person me-1"></i>
                                                            <div>프로필</div>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#drinkingCarousel"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon text-dark" aria-hidden="false"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#drinkingCarousel"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <!-- 취미 -->
            <div th:if="${!hobbyList.isEmpty()}" class="border-bottom pb-3">
                <div class="my-3 text-center">
                    <div class="d-flex justify-content-center">
                        <img src="/image/quote/left.png" alt="" style="height: 20px; width: auto;">
                        <h5 class="mx-1">취미</h5>
                        <img src="/image/quote/right.png" alt="" style="height: 20px; width: auto;">
                    </div>
                    <div class="ms-1" th:text="|가 일치하는 ${#lists.size(hobbyList)}명의 회원이 추천되었습니다.|"></div>
                </div>
                <div id="hobbyCarousel" class="carousel slide mt-5" style="max-width: 700px;">
                    <div class="carousel-inner">
                        <div class="carousel-item active" th:each="targetUser : ${hobbyList}">
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-md-7">
                                        <img th:src="@{${targetUser.image}}" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-5">
                                        <div class="card-body"
                                             style="height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                                            <h3 class="card-title text-center my-2"
                                                style="font-family: 'nanum-semiBold',serif"
                                                th:text="${targetUser.nickName}"></h3>
                                            <div>
                                                <div class="my-2">
                                                    <button type="button" class="araQBtn btn 버튼 w-100"
                                                            th:if="${likesStatus[targetUser.username] == null}"
                                                            th:data-nick="${targetUser.nickName}"
                                                            th:data-user="${targetUser.username}">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                 height="16"
                                                                 fill="currentColor" class="bi bi-suit-heart-fill me-1"
                                                                 viewBox="0 0 16 16">
                                                                <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
                                                            </svg>
                                                            <div>아라큐</div>
                                                        </div>
                                                    </button>
                                                    <button type="button" class="araQBtn btn 버튼 w-100" disabled
                                                            th:if="${likesStatus[targetUser.username] == '매칭 성공'}"
                                                            th:data-nick="${targetUser.nickName}"
                                                            th:data-user="${targetUser.username}">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                 height="16"
                                                                 fill="currentColor"
                                                                 class="bi bi-arrow-through-heart-fill me-1"
                                                                 viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd"
                                                                      d="M2.854 15.854A.5.5 0 0 1 2 15.5V14H.5a.5.5 0 0 1-.354-.854l1.5-1.5A.5.5 0 0 1 2 11.5h1.793l3.103-3.104a.5.5 0 1 1 .708.708L4.5 12.207V14a.5.5 0 0 1-.146.354l-1.5 1.5ZM16 3.5a.5.5 0 0 1-.854.354L14 2.707l-1.006 1.006c.236.248.44.531.6.845.562 1.096.585 2.517-.213 4.092-.793 1.563-2.395 3.288-5.105 5.08L8 13.912l-.276-.182A23.825 23.825 0 0 1 5.8 12.323L8.31 9.81a1.5 1.5 0 0 0-2.122-2.122L3.657 10.22a8.827 8.827 0 0 1-1.039-1.57c-.798-1.576-.775-2.997-.213-4.093C3.426 2.565 6.18 1.809 8 3.233c1.25-.98 2.944-.928 4.212-.152L13.292 2 12.147.854A.5.5 0 0 1 12.5 0h3a.5.5 0 0 1 .5.5v3Z"/>
                                                            </svg>
                                                            <div>매칭 완료</div>
                                                        </div>
                                                    </button>
                                                    <button type="button" class="araQBtn btn 버튼 w-100" disabled
                                                            th:if="${likesStatus[targetUser.username] == '매칭 대기'}"
                                                            th:data-nick="${targetUser.nickName}"
                                                            th:data-user="${targetUser.username}">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                 height="16"
                                                                 fill="currentColor" class="bi bi-suit-heart me-1"
                                                                 viewBox="0 0 16 16">
                                                                <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                                                            </svg>
                                                            <div>매칭 대기</div>
                                                        </div>
                                                    </button>
                                                </div>
                                                <div>
                                                    <button type="button" class="btn btn-outline-dark w-100 viewProfile"
                                                            th:data-value="${targetUser.username}">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <i class="bi bi-file-person me-1"></i>
                                                            <div>프로필</div>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#hobbyCarousel"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon text-dark" aria-hidden="false"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#hobbyCarousel"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <!-- MBTI -->
            <div th:if="${!mbtiList.isEmpty()}" class="border-bottom pb-3">
                <div class="my-3 text-center">
                    <div class="d-flex justify-content-center">
                        <img src="/image/quote/left.png" alt="" style="height: 20px; width: auto;">
                        <h5 class="mx-1">MBTI</h5>
                        <img src="/image/quote/right.png" alt="" style="height: 20px; width: auto;">
                    </div>
                    <div class="ms-1" th:text="|가 일치하는 ${#lists.size(mbtiList)}명의 회원이 추천되었습니다.|"></div>
                </div>
                <div id="mbtiCarousel" class="carousel slide mt-5" style="max-width: 700px;">
                    <div class="carousel-inner">
                        <div class="carousel-item active" th:each="targetUser : ${mbtiList}">
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-md-7">
                                        <img th:src="@{${targetUser.image}}" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-5">
                                        <div class="card-body"
                                             style="height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                                            <h3 class="card-title text-center my-2"
                                                style="font-family: 'nanum-semiBold',serif"
                                                th:text="${targetUser.nickName}"></h3>
                                            <div>
                                                <div class="my-2">
                                                    <button type="button" class="araQBtn btn 버튼 w-100"
                                                            th:if="${likesStatus[targetUser.username] == null}"
                                                            th:data-nick="${targetUser.nickName}"
                                                            th:data-user="${targetUser.username}">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                 height="16"
                                                                 fill="currentColor" class="bi bi-suit-heart-fill me-1"
                                                                 viewBox="0 0 16 16">
                                                                <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
                                                            </svg>
                                                            <div>아라큐</div>
                                                        </div>
                                                    </button>
                                                    <button type="button" class="araQBtn btn 버튼 w-100" disabled
                                                            th:if="${likesStatus[targetUser.username] == '매칭 성공'}"
                                                            th:data-nick="${targetUser.nickName}"
                                                            th:data-user="${targetUser.username}">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                 height="16"
                                                                 fill="currentColor"
                                                                 class="bi bi-arrow-through-heart-fill me-1"
                                                                 viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd"
                                                                      d="M2.854 15.854A.5.5 0 0 1 2 15.5V14H.5a.5.5 0 0 1-.354-.854l1.5-1.5A.5.5 0 0 1 2 11.5h1.793l3.103-3.104a.5.5 0 1 1 .708.708L4.5 12.207V14a.5.5 0 0 1-.146.354l-1.5 1.5ZM16 3.5a.5.5 0 0 1-.854.354L14 2.707l-1.006 1.006c.236.248.44.531.6.845.562 1.096.585 2.517-.213 4.092-.793 1.563-2.395 3.288-5.105 5.08L8 13.912l-.276-.182A23.825 23.825 0 0 1 5.8 12.323L8.31 9.81a1.5 1.5 0 0 0-2.122-2.122L3.657 10.22a8.827 8.827 0 0 1-1.039-1.57c-.798-1.576-.775-2.997-.213-4.093C3.426 2.565 6.18 1.809 8 3.233c1.25-.98 2.944-.928 4.212-.152L13.292 2 12.147.854A.5.5 0 0 1 12.5 0h3a.5.5 0 0 1 .5.5v3Z"/>
                                                            </svg>
                                                            <div>매칭 완료</div>
                                                        </div>
                                                    </button>
                                                    <button type="button" class="araQBtn btn 버튼 w-100" disabled
                                                            th:if="${likesStatus[targetUser.username] == '매칭 대기'}"
                                                            th:data-nick="${targetUser.nickName}"
                                                            th:data-user="${targetUser.username}">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                 height="16"
                                                                 fill="currentColor" class="bi bi-suit-heart me-1"
                                                                 viewBox="0 0 16 16">
                                                                <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                                                            </svg>
                                                            <div>매칭 대기</div>
                                                        </div>
                                                    </button>
                                                </div>
                                                <div>
                                                    <button type="button" class="btn btn-outline-dark w-100 viewProfile"
                                                            th:data-value="${targetUser.username}">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <i class="bi bi-file-person me-1"></i>
                                                            <div>프로필</div>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#mbtiCarousel"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon text-dark" aria-hidden="false"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#mbtiCarousel"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <!-- 성격 -->
            <div th:if="${!personalityList.isEmpty()}" class="border-bottom pb-3">
                <div class="my-3 text-center">
                    <div class="d-flex justify-content-center">
                        <img src="/image/quote/left.png" alt="" style="height: 20px; width: auto;">
                        <h5 class="mx-1">성격</h5>
                        <img src="/image/quote/right.png" alt="" style="height: 20px; width: auto;">
                    </div>
                    <div class="ms-1" th:text="|이 2개 이상 일치하는 ${#lists.size(personalityList)}명의 회원이 추천되었습니다.|"></div>
                </div>
                <div id="personalityCarousel" class="carousel slide mt-5" style="max-width: 700px;">
                    <div class="carousel-inner">
                        <div class="carousel-item active" th:each="targetUser : ${personalityList}">
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-md-7">
                                        <img th:src="@{${targetUser.image}}" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-5">
                                        <div class="card-body"
                                             style="height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                                            <h3 class="card-title text-center my-2"
                                                style="font-family: 'nanum-semiBold',serif"
                                                th:text="${targetUser.nickName}"></h3>
                                            <div>
                                                <div class="my-2">
                                                    <button type="button" class="araQBtn btn 버튼 w-100"
                                                            th:if="${likesStatus[targetUser.username] == null}"
                                                            th:data-nick="${targetUser.nickName}"
                                                            th:data-user="${targetUser.username}">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                 height="16"
                                                                 fill="currentColor" class="bi bi-suit-heart-fill me-1"
                                                                 viewBox="0 0 16 16">
                                                                <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
                                                            </svg>
                                                            <div>아라큐</div>
                                                        </div>
                                                    </button>
                                                    <button type="button" class="araQBtn btn 버튼 w-100" disabled
                                                            th:if="${likesStatus[targetUser.username] == '매칭 성공'}"
                                                            th:data-nick="${targetUser.nickName}"
                                                            th:data-user="${targetUser.username}">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                 height="16"
                                                                 fill="currentColor"
                                                                 class="bi bi-arrow-through-heart-fill me-1"
                                                                 viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd"
                                                                      d="M2.854 15.854A.5.5 0 0 1 2 15.5V14H.5a.5.5 0 0 1-.354-.854l1.5-1.5A.5.5 0 0 1 2 11.5h1.793l3.103-3.104a.5.5 0 1 1 .708.708L4.5 12.207V14a.5.5 0 0 1-.146.354l-1.5 1.5ZM16 3.5a.5.5 0 0 1-.854.354L14 2.707l-1.006 1.006c.236.248.44.531.6.845.562 1.096.585 2.517-.213 4.092-.793 1.563-2.395 3.288-5.105 5.08L8 13.912l-.276-.182A23.825 23.825 0 0 1 5.8 12.323L8.31 9.81a1.5 1.5 0 0 0-2.122-2.122L3.657 10.22a8.827 8.827 0 0 1-1.039-1.57c-.798-1.576-.775-2.997-.213-4.093C3.426 2.565 6.18 1.809 8 3.233c1.25-.98 2.944-.928 4.212-.152L13.292 2 12.147.854A.5.5 0 0 1 12.5 0h3a.5.5 0 0 1 .5.5v3Z"/>
                                                            </svg>
                                                            <div>매칭 완료</div>
                                                        </div>
                                                    </button>
                                                    <button type="button" class="araQBtn btn 버튼 w-100" disabled
                                                            th:if="${likesStatus[targetUser.username] == '매칭 대기'}"
                                                            th:data-nick="${targetUser.nickName}"
                                                            th:data-user="${targetUser.username}">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                 height="16"
                                                                 fill="currentColor" class="bi bi-suit-heart me-1"
                                                                 viewBox="0 0 16 16">
                                                                <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                                                            </svg>
                                                            <div>매칭 대기</div>
                                                        </div>
                                                    </button>
                                                </div>
                                                <div>
                                                    <button type="button" class="btn btn-outline-dark w-100 viewProfile"
                                                            th:data-value="${targetUser.username}">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <i class="bi bi-file-person me-1"></i>
                                                            <div>프로필</div>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#personalityCarousel"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon text-dark" aria-hidden="false"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#personalityCarousel"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="script">
    $(function () {
        $('.araQBtn').on('click', function () {
            var nickname = $(this).data("nick");
            var username = $(this).data("user");
            if (confirm(nickname + "님에게 아라큐 요청을 보냅니다!")) {
                $.ajax({
                    url: "/like/request",
                    type: "POST",
                    headers: {
                        [csrfHeader]: csrfToken
                    },
                    contentType: "text/plain",
                    data: username,
                    success: function (response) {
                        alert(response);
                        location.reload();
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            }
        });

        $(".viewProfile").on('click', function () {
            showProfile($(this).data("value"));
        });
    });
</script>
</html>