<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <ul>
        <li th:each="room : ${roomList}">
            <a th:href="@{|/chat/join/${room.code}|}" th:data-value="${room.code}" class="joinRoom"
               th:text="|${room.participant2.nickName}님과 채팅|"
               th:if="${room.participant1.username.equals(user.username)}"></a>
            <a th:href="@{|/chat/join/${room.code}|}" th:data-value="${room.code}" class="joinRoom"
               th:text="|${room.participant1.nickName}님과 채팅|"
               th:if="${room.participant2.username.equals(user.username)}"></a>
        </li>
    </ul>
</div>
</html>