<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <table class="table">
        <thead class="table-head">
        <tr class="text-center">
            <th style="width: 10%;">번호</th>
            <th>제목</th>
            <th style="width: 10%;">인원수</th>
            <th style="width: 10%;">방장</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="plaza, loop : ${plazaList}">
            <td th:text="${loop.count}"></td>
            <td class="text-start">
                <i th:if="${!plaza.password.isEmpty()}" class="bi bi-lock-fill"></i>
                <a href="javascript:void(0)" class="plazaJoinBtn" th:text="${plaza.title}" th:data-value="${plaza.code}"
                   th:data-pw="${!plaza.password.isEmpty()}"></a>
                <a th:if="${plaza.manager.username.equals(user.username)}" href="javascript:void(0)"
                   class="plazaDeleteBtn badge bg-danger text-light ms-3" th:data-value="${plaza.code}">삭제</a>
            </td>
            <td th:text="|${plaza.people}/${plaza.maxPeople}|"></td>
            <td th:text="${plaza.manager.nickName}"></td>
        </tr>
        </tbody>
    </table>
    <div class="text-end">
        <button type="button" id="createPlazaBtn" class="btn btn-sm 버튼">광장 생성</button>
    </div>
    <div class="modal fade" id="createPlazaForm" tabindex="-1" aria-labelledby="createPlazaFormLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createPlazaFormLabel">광장 생성</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="plazaTitle" placeholder="광장 이름">
                        <label for="plazaTitle">광장 이름</label>
                    </div>
                    <label for="peopleRange" class="form-label">인원수</label>
                    <div class="d-flex">
                        <input type="range" class="form-range" min="1" max="8" id="peopleRange" value="8">
                        <span class="mx-3 peopleRangeNumber">8</span>
                    </div>
                    <div class="form-check mt-2">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="plazaPublic" checked>
                        <label class="form-check-label" for="plazaPublic">
                            공개
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="plazaPrivate">
                        <div>
                            <label class="form-check-label" for="plazaPrivate">
                                비공개
                            </label>
                            <label for="plazaPassword"></label>
                            <input type="password" id="plazaPassword" class="form-control" placeholder="비밀번호"
                                   disabled>
                        </div>
                    </div>
                    <div class="mt-3">배경 설정</div>
                    <div id="bgImgList">
                        <a href="javascript:void(0)" class="selectedImg text-center">
                            <div th:src="@{/image/plaza/default.jpg}">없음</div>
                        </a>
                        <a href="javascript:void(0)">
                            <img th:src="@{/image/plaza/1.jpg}" alt="">
                        </a>
                        <a href="javascript:void(0)">
                            <img th:src="@{/image/plaza/2.jpg}" alt="">
                        </a>
                        <a href="javascript:void(0)">
                            <img th:src="@{/image/plaza/3.jpg}" alt="">
                        </a>
                        <a href="javascript:void(0)">
                            <img th:src="@{/image/plaza/4.jpg}" alt="">
                        </a>
                        <a href="javascript:void(0)">
                            <img th:src="@{/image/plaza/5.jpg}" alt="">
                        </a>
                        <a href="javascript:void(0)">
                            <img th:src="@{/image/plaza/6.jpg}" alt="">
                        </a>
                        <a href="javascript:void(0)" class="text-center customImage">
                            커스텀이미지
                        </a>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn 버튼" id="plazaCreateBtn">생성</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="plazaPwModal" tabindex="-1" aria-labelledby="plazaPwModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="plazaPwModalLabel">비밀번호</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="plazaCode">
                    <input type="password" id="plazaPwParam" class="form-control">
                    <div id="plazaPwFeedback" class="invalid-feedback"></div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn 버튼" id="plazaPwCheckBtn">확인</button>
                </div>
            </div>
        </div>
    </div>
    <form th:action="@{/plaza/create}" id="plazaCreateForm" method="post" enctype="multipart/form-data">
        <input type="hidden" name="title">
        <input type="hidden" name="people">
        <input type="hidden" name="password">
        <input type="hidden" name="img">
        <input type="file" name="customImg" id="customImageInput">
    </form>
    <form th:action="@{/plaza/delete}" id="plazaDeleteForm" method="post">
        <input type="hidden" name="code">
    </form>
    <form th:action="@{/plaza/join}" id="plazaJoinForm" method="post">
        <input type="hidden" name="code">
    </form>
</div>
<script layout:fragment="script" th:src="@{/plazalist.js}"></script>
</html>