<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <table class="table">
        <thead class="ourColor">
        <tr class="text-center">
            <th style="width: 10%;">번호</th>
            <th>제목</th>
            <th style="width: 10%;">인원수</th>
            <th style="width: 10%;">방장</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="plaza, loop : ${plazaList}">
            <td th:text="${loop.count}"></td>
            <td class="text-start">
                <i th:if="${!plaza.password.isEmpty()}" class="bi bi-lock-fill"></i>
                <a href="javascript:void(0)" class="plazaJoinBtn" th:text="${plaza.title}" th:data-value="${plaza.code}"
                   th:data-pw="${!plaza.password.isEmpty()}"></a>
                <a th:if="${plaza.manager.username.equals(user.username)}" href="javascript:void(0)"
                   class="plazaDeleteBtn badge bg-danger text-light ms-3" th:data-value="${plaza.code}">삭제</a>
            </td>
            <td th:text="|${plaza.people}/${plaza.maxPeople}|"></td>
            <td th:text="${plaza.manager.nickName}"></td>
        </tr>
        </tbody>
    </table>
    <div class="text-end">
        <button type="button" id="createPlazaBtn" class="btn btn-sm 버튼">광장 생성</button>
    </div>
    <div class="modal fade" id="createPlazaForm" tabindex="-1" aria-labelledby="createPlazaFormLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createPlazaFormLabel">광장 생성</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="plazaTitle" placeholder="광장 이름">
                        <label for="plazaTitle">광장 이름</label>
                    </div>
                    <label for="peopleRange" class="form-label">인원수</label>
                    <div class="d-flex">
                        <input type="range" class="form-range" min="1" max="8" id="peopleRange" value="8">
                        <span class="mx-3 peopleRangeNumber">8</span>
                    </div>
                    <div class="form-check mt-2">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="plazaPublic" checked>
                        <label class="form-check-label" for="plazaPublic">
                            공개
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="plazaPrivate">
                        <div>
                            <label class="form-check-label" for="plazaPrivate">
                                비공개
                            </label>
                            <label for="plazaPassword"></label>
                            <input type="password" id="plazaPassword" class="form-control" placeholder="비밀번호"
                                   disabled>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn 버튼" id="plazaCreateBtn">생성</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="plazaPwModal" tabindex="-1" aria-labelledby="plazaPwModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="plazaPwModalLabel">비밀번호</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="plazaCode">
                    <input type="password" id="plazaPwParam" class="form-control">
                    <div id="plazaPwFeedback" class="invalid-feedback"></div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn 버튼" id="plazaPwCheckBtn">확인</button>
                </div>
            </div>
        </div>
    </div>
    <form th:action="@{/plaza/create}" id="plazaCreateForm" method="post">
        <input type="hidden" name="title">
        <input type="hidden" name="people">
        <input type="hidden" name="password">
    </form>
    <form th:action="@{/plaza/delete}" id="plazaDeleteForm" method="post">
        <input type="hidden" name="code">
    </form>
    <form th:action="@{/plaza/join}" id="plazaJoinForm" method="post">
        <input type="hidden" name="code">
    </form>
    <script th:inline="javascript">
        const alarm = [[${alarm}]];
        if (alarm !== "") alert(alarm);
    </script>
</div>
<script layout:fragment="script">
    $(function () {
        $("#createPlazaBtn").on('click', function () {
            $("#createPlazaForm").modal("show");
        });

        $("#peopleRange").on('change', function () {
            $(".peopleRangeNumber").text($(this).val());
        });

        $("#plazaPublic").on('change', function () {
            if (this.checked) {
                const passwordElement = $("#plazaPassword");
                passwordElement.val("");
                passwordElement.prop("disabled", true);
            }
        });

        $("#plazaPrivate").on('change', function () {
            if (this.checked) {
                const passwordElement = $("#plazaPassword");
                passwordElement.prop("disabled", false);
                passwordElement.focus();
            }
        });

        $("#plazaCreateBtn").click(function () {
            const title = $("#plazaTitle").val();
            const people = $("#peopleRange").val();
            const password = $("#plazaPassword").val();
            if (title.trim() === "") alert("광장 이름을 입력해주세요");
            else if ($("#plazaPrivate").is(":checked") && password  === "")
                alert("비밀번호를 입력해주세요");
            else {
                $("#plazaCreateForm > input[name='title']").val(title);
                $("#plazaCreateForm > input[name='people']").val(people);
                $("#plazaCreateForm > input[name='password']").val(password);
                $("#plazaCreateForm").submit();
            }
        });

        $(".plazaDeleteBtn").click(function () {
            if (confirm("정말 삭제하시겠습니까?")) {
                $("#plazaDeleteForm > input[name='code']").val($(this).data("value"));
                $("#plazaDeleteForm").submit();
            }
        });

        $(".plazaJoinBtn").click(function () {
            if (!$(this).data("pw")) {
                $("#plazaJoinForm > input[name='code']").val($(this).data("value"));
                $("#plazaJoinForm").submit();
            } else {
                $("#plazaCode").val($(this).data("value"));
                $("#plazaPwModal").modal("show");
            }
        });

        $("#plazaPwCheckBtn").click(function () {
            $.ajax({
                url: "/plaza/check",
                type: "post",
                contentType: "application/json",
                headers: {
                    [csrfHeader]: csrfToken
                },
                data: JSON.stringify({
                    input: $("#plazaPwParam").val(),
                    code: $("#plazaCode").val()
                }),
                success: function (message) {
                    if (message === "access") {
                        $("#plazaJoinForm > input[name='code']").val($("#plazaCode").val());
                        $("#plazaJoinForm").submit();
                    } else {
                        $("#plazaPwParam").addClass("is-invalid");
                        $("#plazaPwFeedback").text("비밀번호가 맞지 않습니다.");
                    }
                },
                error: function (error) {
                    alert("접근 실패");
                }
            });
        });
    });
</script>
</html>