<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="card" id="plazaBoard">
        <div th:each="online : ${onlinePlazaUsers}" th:class="|avatar ${online.username}|"
             th:classappend="${online.plazaFocus.equals('focus')} ? 'statusFocus' : 'statusBlur'">
            <div class="talkBox card"></div>
            <img class="userImage" th:src="${online.image}">
            <div class="nickname" th:text="${online.nickName}"></div>
            <div class="status" th:classappend="${online.plazaFocus.equals('focus')} ? 'focus' : 'blur'"></div>
            <input type="hidden" th:value="${online.locationTop}">
            <input type="hidden" th:value="${online.locationLeft}">
        </div>
        <div id="plazaChatContainer">
            <div id="plazaChatBoard"></div>
            <form id="plazaChatForm">
                <input type="text" class="form-control" id="plazaChatParam">
            </form>
        </div>
    </div>
    <div class="text-end">
        <button class="btn btn-sm 버튼" id="plazaManageBtn" th:if="${user.username.equals(plaza.manager.username)}">관리
        </button>
    </div>
    <div class="modal fade" id="plazaManageModal" tabindex="-1" aria-labelledby="plazaManageModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="participant-tab" data-bs-toggle="tab"
                                    data-bs-target="#participant-tab-pane" type="button" role="tab"
                                    aria-controls="participant-tab-pane" aria-selected="true">참여 인원
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="plaza-tab" data-bs-toggle="tab"
                                    data-bs-target="#plaza-tab-pane" type="button" role="tab"
                                    aria-controls="plaza-tab-pane" aria-selected="false">광장 설정
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="contact-tab" data-bs-toggle="tab"
                                    data-bs-target="#contact-tab-pane" type="button" role="tab"
                                    aria-controls="contact-tab-pane" aria-selected="false">Contact
                            </button>
                        </li>
                    </ul>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="participant-tab-pane" role="tabpanel"
                             aria-labelledby="home-tab" tabindex="0">
                            <div class="card card-body">
                                <div th:class="|dropdown dropend p_${online.username}|"
                                     th:each="online : ${onlinePlazaUsers}">
                                    <a href="#" th:text="${online.nickName}" data-bs-toggle="dropdown"
                                       aria-expanded="false"></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="delegate dropdown-item" href="javascript:void(0)"
                                               th:data-nick="${online.nickName}"
                                               th:data-value="${online.username}">방장위임</a></li>
                                        <li>
                                        <li><a class="fire dropdown-item text-danger" href="javascript:void(0)"
                                               th:data-nick="${online.nickName}"
                                               th:data-value="${online.username}">강제퇴장</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="plaza-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                             tabindex="0">...
                        </div>
                        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab"
                             tabindex="0">...
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        const user = [[${user.username}]];
        const nick = [[${user.nickName}]];
        const code = [[${plaza.code}]];
    </script>
</div>
<script type="text/javascript" th:src="@{/plaza.js}" layout:fragment="script"></script>
</html>