<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <h1 class="text-center my-3">Q1.</h1>
    <h2 class="text-center my-3">내 애인과 내 친구 셋이서 밥을 먹는데 내 친구가 깻잎을 못 떼고 있을 때 내 애인이 친구의 깻잎을 떼어준다면?</h2>
    <div class="d-flex justify-content-center">
        <img src="https://i.namu.wiki/i/E2EGjwM_t4imBtfHHUClMYJfTT8H6Gas_pf0EfBWY7P6nwLvlQxpi9smvqb4d3xzp0xPY7dOSCzFsHLCvMe7-Q.webp"
             alt="" style="height:200px; width: auto;">
    </div>
    <div class="d-flex justify-content-center my-3">
        <button class="me-3 btn btn-lg btn-success">상관 없다</ button>
        <button class="btn btn-lg btn-danger">절대 안된다</button>
    </div>
</div>
</html>