<html layout:decorate="~{layout}">
<head>
    <style>
        .modal-backdrop {
            background-color: transparent;
        }
    </style>
</head>
<div layout:fragment="content" class="container my-3">
    <h3 class="underline my-3">보낸 쪽지함</h3>
    <button type="button" class="btn 버튼-full" data-bs-toggle="modal" data-bs-target="#sendMessage">
        쪽지 보내기
    </button>
    <!-- 쪽지 보내기 모달 -->
    <div class="modal" id="sendMessage" tabindex="-1" aria-labelledby="sendMessageLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="sendMessageLabel">쪽지 보내기</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <select class="receiver form-select" aria-label="Default select example">
                        <option value="" selected>받는 사람</option>
                        <div th:each="friend : ${friendList}">
                            <option th:value="${friend.sender.username}" th:text="${friend.sender.nickName}"
                                    th:if="${friend.sender != user}"></option>
                            <option th:value="${friend.receiver.username}" th:text="${friend.receiver.nickName}"
                                    th:if="${friend.receiver != user}"></option>
                        </div>
                    </select>
                    <div class="my-3">
                        <label for="content" class="form-label" style="border-bottom: 2px solid #D8D3E0">내용</label>
                        <textarea name="content" id="content" rows="5" class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="sendBtn btn btn-sm 버튼">전송</button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between mt-3 mb-1">
        <div class="input-group" style="width:30%;">
            <input type="text" id="searchKw" class="form-control" th:value="${keyword}" placeholder="내용, 수신자 검색">
            <button class="btn 버튼" type="button" id="searchBtn">
                <i class="bi bi-search"></i>
            </button>
        </div>
        <button type="button" class="deleteBtn btn btn-danger btn-sm">삭제</button>
    </div>
    <table class="table table-hover text-center mb-5">
        <thead class="table-secondary">
        <tr>
            <th style="width:10%;">
                <input class="form-check-input" type="checkbox" id="checkAll">
            </th>
            <th style="width: 10%;">읽음</th>
            <th>이름</th>
            <th style="width: 50%;">내용</th>
            <th><i class="bi bi-clock"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="message : ${paging}">
            <td><input class="check form-check-input" type="checkbox" th:value="${message.id}"></td>
            <td>
                <i class="bi bi-envelope-heart" th:if="${message.status == false}"></i>
                <i class="bi bi-envelope-open-heart" style="color: silver;" th:if="${message.status == true}"></i>
            </td>
            <td th:text="${message.receiver.nickName}"></td>
            <td style="text-align: start" th:text="${message.content}"></td>
            <td th:text="${#temporals.format(message.dateTime, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'active'" class="page-item">
                <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
        <form th:action="@{/message/send}" method="get" id="searchForm">
            <input type="hidden" id="page" name="page" th:value="${paging.number}">
            <input type="hidden" id="keyword" name="keyword" th:value="${keyword}">
        </form>
    </div>
</div>
<script layout:fragment="script">
    $(function () {
        $(".page-link").on('click', function () {
            $("#page").val(this.dataset.page);
            $("#searchForm").submit();
        });

        $("#searchBtn").on('click', function () {
            $("#keyword").val($("#searchKw").val());
            $("#page").val("0");
            $("#searchForm").submit();
        });

        $("#checkAll").on('click', function () {
            $('.check').prop('checked', this.checked);
        });

        $(".deleteBtn").on('click', function () {
            var checkedValues = $(".check:checked").map(function () {
                return this.value;
            }).get();

            if (checkedValues.length === 0) {
                alert('선택된 쪽지가 없습니다.');
                return;
            }

            if (confirm('쪽지를 삭제하시겠습니까?')) {
                $.ajax({
                    url: '/message/delete',
                    type: 'post',
                    headers: {
                        [csrfHeader]: csrfToken
                    },
                    contentType: 'application/json',
                    data: JSON.stringify(checkedValues),
                    success: function (data) {
                        alert(data);
                        location.reload();
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        });
    });
</script>
</html>